$border-color:#b0b0b0;

// .admin-layout{
//     .left-side{
//         padding:35px 15px 15px 40px;
//         min-height:400px;
//         border-right:1px solid $border-color;
//         .menu-item{
//             padding:10px;
//         }
//     }

//     .right-side{
//         padding-top:30px;
//         padding-left:30px;
//     }
// }
