<div *ngIf="isAdminLogin" class="page">
  <!-- <app-header></app-header> -->

  <div class="container">
    <ngb-tabset>
      <ngb-tab *ngIf="account">
        <ng-template ngbTabTitle>
          <span class="tab-title" i18n="@@Orders">Orders</span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-admin-order-page [restaurant]="restaurant" [account]="account"></app-admin-order-page>
          <!-- <multi-user-form [users]="businessUsers"></multi-user-form> -->
        </ng-template>
      </ngb-tab>

      <ngb-tab *ngIf="account && account.type === 'business' && restaurant">
        <ng-template ngbTabTitle>
          <span class="tab-title" i18n="@@Restaurant">Restaurant</span>
        </ng-template>
        <ng-template ngbTabContent>
          <!-- <multi-restaurant-form [restaurants]="restaurants"></multi-restaurant-form> -->
          <app-restaurant-form [restaurant]="restaurant"></app-restaurant-form>
        </ng-template>
      </ngb-tab>

      <ngb-tab *ngIf="account && account.type === 'business'">
        <ng-template ngbTabTitle>
          <span class="tab-title" i18n="@@Products">Products</span>
        </ng-template>
        <ng-template ngbTabContent>
          <!-- <multi-restaurant-form [restaurants]="restaurants"></multi-restaurant-form> -->
          <app-admin-product-list [products]="products"></app-admin-product-list>
        </ng-template>
      </ngb-tab>

      <ngb-tab *ngIf="account && account.type === 'super'">
        <ng-template ngbTabTitle>
          <span class="tab-title" i18n="@@Account">Account</span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-admin-account-page></app-admin-account-page>
          <!-- <multi-user-form [users]="businessUsers"></multi-user-form> -->
        </ng-template>
      </ngb-tab>

      <ngb-tab *ngIf="account && (account.type === 'business' || account.type === 'super') && orders">
        <ng-template ngbTabTitle>
          <span class="tab-title" i18n="@@Categories">Categories</span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-admin-category-page></app-admin-category-page>
          <!-- <multi-user-form [users]="businessUsers"></multi-user-form> -->
        </ng-template>
      </ngb-tab>

      <ngb-tab *ngIf="account && account.type === 'super'">
        <ng-template ngbTabTitle>
          <span class="tab-title" i18n="@@Restaurants">Restaurants</span>
        </ng-template>
        <ng-template ngbTabContent>
          <!-- <multi-restaurant-form [restaurants]="restaurants"></multi-restaurant-form> -->
          <app-admin-restaurant-page></app-admin-restaurant-page>
        </ng-template>
      </ngb-tab>

    </ngb-tabset>
  </div>

  <!-- <app-footer></app-footer> -->
</div>