<div class="row form-group address-input-block">
  <div class="row label-sm">
    <span i18n="@@DeliverAddress">Delivery Address</span><span>*</span>
  </div>
  <app-address-input (addrChange)="onAddressChange($event)" placeholder="InputDeliveryAddress"
    (addrClear)="onAddressClear($event)" (inputFocus)="onAddressInputFocus($event)"
    [value]="deliveryAddress">
  </app-address-input>
</div>
<app-location-list [account]="account" [places]="options" (placeSeleted)="onSelectPlace($event)"></app-location-list>