
<div class="page multi-product-form">
<!--     <div>
        <button (click)="toPage('admin/product')">Add Product</button>
    </div> -->
    <form [formGroup]="form">
<!--     <select name="restaurant" formControlName="restaurant_id">
        <option *ngFor="let m of restaurantList" [value]="m.id">{{m.name}}</option>
    </select> -->
    <div class="list-body">
    	<div class="row list-header">
    		<div class="col" *ngFor="let field of fields">{{field}}</div>
    	</div>


        <div formArrayName="items" *ngFor="let ctrl of items.controls; let i=index;">
        	<div [formGroupName]="i" class="row">
	            <!-- <img [src]="MEDIA_URL+c.pictures[0].image.data" /> -->
                <input name="id" formControlName="id" readonly="true" />
	            <div class="col col-pic">
	            	<image-uploader [data]="pictures[i]" #uploader></image-uploader>
	            </div>
	            <div class="col">
	            	<input name="name" formControlName="name"/>
	            </div>
	           	<div class="col">
	            	<!-- <textarea name="description" formControlName="description"></textarea> -->
	            	<input name="description" formControlName="description"/>
	            </div>
	            <div class="col">
	            	<input name="price" formControlName="price"/>
	            </div>
	            <!-- <div class="col">{{(c.description.length>80)? (c.description | slice:0:80)+'...':(c.description)}}</div> -->
	        </div>
<!--             <div class="col">
                <div class="btn" (click)="add()">Add</div>
                <div class="btn" (click)="change(c)">Change</div>
                <div class="btn" (click)="delete(c)">Delete</div>
            </div> -->

        </div>
        <div (click)="save()">Save</div>
    </div>
	</form>
</div>
