
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";


.multi-product-form{
	.list-body{
		.row{
			padding-top:0px;
		}
		input[name="id"]{
			width:40px;
		}
		.col{
			input{
				width:160px;
			}

			input[name="description"]{
				width:400px;
			}

			input[name="price"]{
				width:100px;
			}
		}
		.col-pic{
			margin-left:15px;
		}
	}

	@media #{$mobile}{
		.list-header{
			display:none;
		}
		[name='id']{
			display:none;
		}
	}
}

