$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

$green: rgb(24, 128, 56);
$yellow: #f4a000;
$red: rgb(219, 68, 55);

$imgW:133px;
$imgH:100px;

.search-col{
  margin-top:10px;
}

.restaurant-grid{
    padding: 0px;
    margin: 0px;

    .row{
      margin:0px;
    }

    .grid-item{
        padding: 6px 0px;
        float: left;
        height: 122px;
        border-bottom: solid 1px #eee;

        .grid-item-body{
            padding: 4px 18px;
            height: 100%;

            .image-body{
                padding:0px;
                padding-top:75%;
                img{
                  width: $imgW;
                  height: $imgH;
                  position: absolute;
                  top:0;
                  left:15px;
                }

                .text-sm{
                  padding-top: 3px;
                  padding-left: 5px;
                  line-height: 14px;
                }

                .rest-1{
                  position: absolute;
                  top: 15px;
                  left: 50px;
                  color: white;
                }
                .not-in-range{
                  position: absolute;
                  top: 15px;
                  left: 20px;
                  color: white;
                }
                .rest-2{
                  position: absolute;
                  top: 53px;
                  left: 38px;
                  color: white;
                }
                .rest-3{
                  position: absolute;
                  top: 58px;
                  left: 30px;
                  font-size: 16px;
                  color: white;
                }

                .shadow-layer{
                  position: absolute;
                  top: 0px;
                  left: 15px;
                  width: $imgW;
                  height: $imgH;
                  background: rgba(0, 0, 0, 0.6);
                }
            }
    
            .text-body{              
              padding:0px 10px;
              .title-bg{
                  font-size:16px;
                  font-weight:400;
                  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
              }
  
              .text-sm{
                  font-size:12px;
                  font-weight:400;
                  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
              }
            }


        }
    }

    .grid-item:hover{
        background-color: #eee;
    }
}


	.map-area{
	    width: 100%;
	    height: 380px;
	    padding: 0px;
	}



	.left-side{
		display:inline-block;
		min-height:400px;
		margin-left:0px;
		margin-right:0px;
		padding:10px 15px;

		input.form-control{
		  outline:none;
		}
	}

	.right-side{
		display:inline-block;
		margin-left:0px;
		margin-right:0px;
		padding-left:0px;
		padding-right:0px;
  }

  .notify-badge{
    position: absolute;
    left:0px;
    top:5px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 30px 0px 30px 30px;
    color:white;
    padding:3px 5px 0px 5px;
    font-size: 12px;
  }

  .free{
    background-color: $green;
    color: white;
  }
  .overdue, .immediate{
    background-color: $yellow;
  }
  .no-free{
    background-color: $red;
    color: white;
  }


  del {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    font-weight: 400;

    &:before {
      content: " ";
      display: block;
      width: 100%;
      border-top: 1px solid white;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: rotate(7deg);
    }
  }

  .delivery-fee{
    .text-sm{
      color: white;
    }
  }

	@media #{$desktop}{

	}

	@media #{$tablet}{

	 }

	@media #{$mobile}{
    .restaurant-grid{
        .grid-item{
            .grid-item-body{
                .image-body{
                    padding-top:0px;
                }
            }
        }

        .grid-item:first-child{
            border-top: 1px solid #eee;
        }
    }
		// .left-side{
		// 	min-height:40px;
		// }
		.map-col{
			padding:0px;
		}
		.map-area{
		    width: 100%;
		    height: 240px;
		}

	}
