<div class="row image-uploader" *ngIf="picture">
        <div class="upload-cell" *ngIf="pic.image && pic.image.data">
            <input class="upload-input" name="image" type="file" (change)="onImageChange($event)" />
            <div class="row img-frame">
                <img [src]="getImageSrc(pic.image)" />
            </div>
            <div class="row">
                <div class="col-sm-6" (click)="onLoadImage()"><i class="fa fa-2x fa-edit" ></i></div>
                <div class="col-sm-6" (click)="onDeleteImage()"><i class="fa fa-2x fa-trash" ></i></div>
            </div>
        </div>

        <div class="upload-cell upload-new-area">
            <input #uploadInput class="upload-input" name="image" type="file" (change)="onImageChange($event)" />
        </div>
</div>
