.image-uploader{
	.upload-cell{
		float:left;
		display:inline-block;
		
		.img-frame{
			width:80px;
			height:80px;
			padding:0px;
			
			img{
				width:80px;
				height:80px;
			}
		}
		
		.upload-input{
			display:none;
		}
	}

	.upload-new-area{
		// display:none;
	}
}
