<p>
  blog works!
</p>
      <form [formGroup]="form" class="restaurant-form">
        <div class="row">
            <div class="label-sm">Blog Name:</div>
            <input name="name" formControlName="name"/>
            <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                <div *ngIf="name.errors.required">Blog Name is required</div>
                <div *ngIf="name.errors.minlength">Blog Name should be minimum 3 characters.</div>
            </div>
        </div>
      </form>

<app-comment></app-comment>