
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

footer{
    height:100px;
    padding:75px 15px 0px 80px;

    .copyright {
        font: 400 14px/14px 'Ubuntu', sans-serif;
        color: #414851;
    }

    a {
        color: #414851 !important;
        font: 400 14px/14px 'Ubuntu', sans-serif;
    }

    span{
        font: 400 14px/14px 'Ubuntu', sans-serif;
    }

    .created{
        font-size:11px;
        a{
            font-size:11px;
        }
    }

    .bottom-nav-menus{
      display: none;
    }
}

@media #{$tablet}{

}

@media #{$mobile}{
  footer{
    height:200px;
    padding:0px 10px;
    line-height: 15px;
    font-size: 12px;
    background-color: white;
    border-top: 1px solid #eee;

    .bottom-nav-menus{
      width: 100%;
      padding-top: 10px;
      display: flex;
    }

    i, .icon-text {
      float: left;
      width: 100%;
      margin: 0px;
      text-align: center;
    }
    .copyright{
      display: none;
    }

    // badge
    .cart-row{
      height: 60px;
      .fa-stack[data-count]:after{
        position:absolute;
        right:0%;
        top:1%;
        content: attr(data-count);
        font-size:10px;
        padding:.6em;
        border-radius:999px;
        line-height:.75em;
        color: white;
        background:rgba(255,0,0,.85);
        text-align:center;
        min-width:2em;
        font-weight:bold;
      }

      .fa-stack{
        margin-left: 18px;
      }
      .fa-shopping-cart{
        margin-left: -18px;
      }
      .cart-col{
        border-right: solid 1px #ddd;
        padding-top: 10px;
      }
      .amount-col{
        padding-top: 15px;
        border-right: solid 1px #ddd;
      }
      .checkout-col{
        padding-top: 15px;
      }
    }

    .checkout-row{
      height: 60px;

      .amount-col{
        padding-top: 15px;
        border-right: solid 1px #ddd;
      }
      .pay-col{
        padding-top: 15px;
      }
    }
  }
}