.cart {
  .title{
    padding: 10px;
    .title-left{
      text-align: center;
    }
  }


  .item-list{
    .item-row{
      height: 110px;
      padding: 4px 10px;

      .col-4{
        height: 100%;
      }

      .product-image{
        width:100%;
        height:100%;
      }
      .button-col{
        padding: 0px;
        .quantity{
          width: 30px;
          height: 40px;
          float: left;
          padding-top: 6px;
          text-align: center;
          font-size: 18px;
        }
        img{
          float: left;
        }
      }

      .name-row{
        padding-top: 18px;
        padding-left: 0px;
      }

      .detail-row{
        padding-top: 10px;

        .col-6{
          padding-left: 0px;
          padding-right: 0px;
        }

        .price-col{
          padding-top: 5px;
          padding-left: 0px;
          padding-right: 0px;
          font-size:20px;
          font-weight:400;
        }
      }
    }

    .item-row:hover{
      background-color: #eee;
    }
  }
}

.list-group-item {
  padding: 0.25rem;
}

.quantity-input {
  width: auto;
  margin-top: 5px;
  padding:0px 3px;

  .btn {
    height: 30px;
    line-height: 10px;
  }
  input {
    height: 30px;
  }
}

.list-group{
    .text-area{
        padding-right:0px;

        .text-left, .text-right{
            padding-right:3px;
            font-size: 14px;
            line-height: 20px;
        }
    }
}
