
<div class="restaurant-list">
  <div class="list-group" *ngIf="restaurants.length>0">
    <div class="list-group-item" *ngFor="let m of restaurants" (click)="onSelect(m)">
      <div class="row">
        <!-- <div class="col-3>">
          <img [src]="getImageSrc(m.image)" />
        </div> -->
        <div class="col-6">{{m.name}}</div>
        <!-- <div class="col-md-3">{{m.address.street}},{{m.address.sub_locality}}</div> -->
        <div class="col-6">
            <div class="btn btn-sm btn-secondary" (click)="viewProducts(m)">Products</div>
            <div class="btn btn-sm btn-secondary" (click)="delete(m)">Delete</div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="restaurant-list mt-5" *ngIf="data && data.length>0">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-xs-6" *ngFor="let p of data; let i = index;">
			<div class="card mb-3" (click)="toDetail(p)">
			  <img class="card-img-top" [src]="p.image.data? (MEDIA_URL+p.image.data) : 'http://placehold.it/400x300'" [alt]="p.name">
			  <div class="card-body">
			    <h6 class="card-title text-left">{{p.name}}</h6>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
				<div class="card-footer text-muted">
			    {{p.address.id}}
			  </div>
			</div>
    </div>
  </div>
	<div class="restaurant" *ngFor="let p of data; let i = index;">
		<div class="body" (click)="toDetail(p)">
			<div class="image-frame">
          		<img src="{{MEDIA_URL+p.image.data}}" alt="{{p.name}}" />
			</div>
			<div class="text-block">
				<div class="title-sm">{{p.name}}</div>
			  	<div class="text-xs">{{p.address.id}}</div>
			  </div>
		</div>
	</div>
</div> -->
