$primary-focus-color:#11759a;

.product-filter{

    #filter-content{
        display:block;
    }

    .price-range{
        display:none;
        margin-top:20px;
        input{
            height:36px;
            float:left;
            width: calc(50% - 10px);
        }
        .separator{
            float:left;
            width:12px;
            height:30px;
            padding-top:5px;
        }
    }

    .restaurant-filter, .category-filter, .color-filter{
        margin-top:15px;
        padding:15px;
        border:1px solid #eee;

        input[type="checkbox"]{
            float:left;
            margin-right:8px;
        }

        .item-list{
            margin-top:10px;
            .row{
                margin:0px;
            }
            
            label:hover, label.active{
                color:$primary-focus-color;
            }

            .badge{
                margin-top: 5px;
                margin-left: 30px;
                height: 14px;
                padding-top: 1px;
            }
        }
    }


    .btn-holder{
        height:60px;
        width:100%;
        padding:10px 0px;
        margin:0px;

        .w-half{
            margin:0px;
            padding:0px;
            float:left;
            width:100%;

            .btn{
                width:100%;
            }
        }

        .w-half:last-child{
            display:none;
            .btn{
                float:right;
            }
        }
    }
}


$cellphone: "(max-width: 575px)";
$mobile: "(min-width:576px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

@media #{$desktop}{

}

@media #{$cellphone}{
    .product-filter {
        #filter-content{
            display:none;
        }

        .btn-holder{
            display:block;
            .w-half{
                width:50%;
                .btn{
                    width:calc(100% - 3px);
                }
            }
            .w-half:last-child{
                display:block;
            }
        }
    }
}

@media #{$mobile}{

    .product-filter {
        #filter-content{
            display:none;
        }

        .btn-holder{
            display:block;
            .w-half{
                width:50%;
                .btn{
                    width:calc(100% - 3px);
                }
            }
            .w-half:last-child{
                display:block;
            }
        }
    }
}