<div class="wrapper">
  <div class="type-col" [ngClass]="selected==='L'? 'expanded' : 'collapsed'">
    <div [ngClass]="bOrderEnded ? 'block-l-end' : 'block-l'" (click)="onSelect('L')">
      <div class="first-row" *ngIf="selected==='R'" i18n="@@Today">Today</div>
      <div class="second-row" *ngIf="selected==='R'">&nbsp;</div>

      <div class="first-row" *ngIf="selected==='L' && !bOrderEnded" i18n="@@LunchToday">Lunch Today</div>
      <div class="second-row" *ngIf="selected==='L' && !bOrderEnded">
        <span *ngIf="lang==='zh'" class="date">{{today.date | date: 'M月d日 E' }} </span>
        <span *ngIf="lang==='en'" class="date">{{today.date | date: 'MMM d, E' }} </span>
        <span class="time">{{startTime}} - {{endTime}}</span>
      </div>

      <div class="alarm-col" *ngIf="bOrderEnded">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/>
        <path fill="#fff" d="M12.5 8H11v6l4.75 2.85.75-1.23-4-2.37zm4.837-6.19l4.607 3.845-1.28 1.535-4.61-3.843zm-10.674 0l1.282 1.536L3.337 7.19l-1.28-1.536zM12 4c-4.97 0-9 4.03-9 9s4.03 9 9 9 9-4.03 9-9-4.03-9-9-9zm0 16c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7z"/></svg>
      </div>
      <div class="text-col" *ngIf="bOrderEnded">
        <div class="first-1-row" *ngIf="selected==='L'" >今天点餐已截止</div>
        <div class="first-2-row" *ngIf="selected==='L'" >看看明天的吧</div>
        <div class="second-row" *ngIf="selected==='L'">
          <span *ngIf="lang==='zh'" class="date">{{today.date | date: 'M月d日 E' }} </span>
          <span *ngIf="lang==='en'" class="date">{{today.date | date: 'MMM d, E' }} </span>
          <span class="time">{{startTime}} - {{endTime}}</span>
        </div>
      </div>
      <!-- <div class="carot-col"  *ngIf="bOrderEnded">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/>
        <path fill="#fff" d="M6.49 20.13l1.77 1.77 9.9-9.9-9.9-9.9-1.77 1.77L14.62 12l-8.13 8.13z"/></svg>
      </div> -->

    </div>
  </div>
  <div class="type-col" [ngClass]="selected==='R'? 'expanded' : 'collapsed'">
    <div class="block-r" (click)="onSelect('R')">
      <div class="first-row" *ngIf="selected==='L'" i18n="@@Tomorrow">Tomorrow</div>
      <div class="second-row" *ngIf="selected==='L'">&nbsp;</div>

      <div class="first-row" *ngIf="selected==='R'"i18n="@@LunchTomorrow">Lunch Tomorrow</div>
      <div class="second-row" *ngIf="selected==='R'">
        <span *ngIf="lang==='zh'" class="date">{{tomorrow.date | date: 'M月d日 E' }} </span>
        <span *ngIf="lang==='en'" class="date">{{tomorrow.date | date: 'MMM d, E' }} </span>
        <span class="time">{{startTime}} - {{endTime}}</span>
      </div>
    </div>
  </div>
</div>

