$primary-bg:#4285F3; // rgb(222,51, 56);
$secondary-bg: rgb(156, 166, 167);

$block-h: 84px;

.wrapper{
  margin: 0px;

  .type-col{
    height: $block-h;
  
    .block-l-end, .block-l, .block-r{
      height: $block-h;
      text-align: center;
      padding: 12px 15px;
    }
    
    .block-l-end{
      padding-top: 9px;
      padding-bottom: 3px;
    }

    .first-1-row, .first-2-row, .first-row, .second-row{
      display: inline-block;
      width: 100%;
      font-weight: 300;
    }
    
    .first-row{
      font-size: 18px;
    }

    .first-1-row, .first-2-row{
      font-size: 16px;
    }

    .second-row{
      font-size: 13px;
    }

    .text-col{
      text-align: center;
      float: left;
      width: 90%;
    }
  
    .alarm-col, .carot-col{
      text-align: center;
      float: left;
      width: 10%;
      padding-top: 20px;
    }
  }

  .type-col:first-child{
    padding-right: 6px;
  }

  .expanded{
    float: left;
    width: 75%;

    .block-l-end, .block-l, .block-r{
      background: $primary-bg;
      color:white;
    }
  }

  .collapsed{
    float: left;
    width: 25%;

    .block-l-end, .block-l, .block-r{
      background: $secondary-bg;
      color: white;
    }
  }
}
