<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <!-- <div class="container-fluid px-0"> -->
    <!-- <div class="row w-100"> -->
      <a class="navbar-brand" href="#">Duocun</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
        aria-expanded="false" aria-label="Toggle navigation" (click)="isShown = !isShown">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse justify-content-end navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarTogglerDemo03">
        <ul class="navbar-nav mt-2 mt-lg-0">
          <!-- <li class="nav-item active">
              <a class="nav-link" href="#" (click)="toHome()" >Home</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="toMerchant()">Merchant</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="#" (click)="toAbout()" >Book Me</a>
            </li> -->
          <!-- <li class="nav-item">
              <a class="nav-link" href="#" (click)="isShown = false" >Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="isShown = false" >Book Me</a>
            </li> -->
        </ul>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</nav>