<div class="loading-spinner" *ngIf="loading">
  <app-progress-spinner></app-progress-spinner>
</div>

<div class="page">
  <div class="title-block">
    <span class="title-bg" i18n="@@ConfirmOrder">Confirm Order</span>
  </div>
  <div class="page-body">
  <form [formGroup]="form" id="order-form">
    <div class="contact-block" *ngIf="account">
      <div class="title-md">
        <div class="label">
          <span i18n="@@DeliveryTime">Delivery Time</span>:
        </div>
        <span class="date">{{ delivery.date | date: 'yyyy-MM-dd'}} </span>
        <span class="time">11:45~13:00</span>
        <!-- <span class="time">{{delivery.date.toDate() | date: 'HH:mm'}}~{{delivery.toTime | date: 'HH:mm'}} </span> -->
      </div>
      <div class="title-md">
        <div class="label">
          <span i18n="@@DeliverTo">Deliver to</span>:
        </div>
        <span class="user-col">{{account.username}}</span>
        <span class="phone-col" *ngIf="account && account.phone">{{account.phone}}</span>
      </div>
      <div class="title-md">
        <div class="label">
          <span i18n="@@DeliveryAddress">Delivery Addr</span>:
        </div>
        <span class="address-text">{{address}}</span>
      </div>
    </div>

    <div class="title-md restaurant" *ngIf="cart.merchantName">{{cart.merchantName}}</div>

    <div class="row order-detail" *ngIf="cart">
      <div class="col-7 items-col">
        <div *ngFor="let item of cart.items" class="text-sm row item-row">
          <div class="col-8 product-col">{{item.productName}}</div>
          <div class="col-2 quantity-col">x{{item.quantity}}</div>
          <div class="col-2 price-col">${{item.price | number : '1.2-2'}}</div>
        </div>
      </div>
      <div class="col-5 text-sm total-col" *ngIf="charge && merchant">
        <div class="row">
          <div class="col-12">
            <div class="title-xs">
              <span i18n="@@ProductTotal">Product Total</span>:</div>
            <div class="text-xs">&nbsp;${{charge.price | number : '1.2-2'}}</div>
          </div>
          <div class="col-12">
            <div class="title-xs">
              <span i18n="@@DeliveryFee">Delivery Fee</span>:</div>
            <div class="text-xs">&nbsp;${{merchant.deliveryCost | number : '1.2-2'}}</div>
          </div>
          <div class="col-12">
            <div class="title-xs">
              <span i18n="@@Subtotal">Subtotal</span>:</div>
            <div class="text-xs">&nbsp;${{charge.price + merchant.deliveryCost | number : '1.2-2'}}</div>
          </div>
          <div class="col-12">
            <div class="title-xs">
              <span i18n="@@Tax">Tax</span>:</div>
            <div class="text-xs">&nbsp;${{charge.tax | number : '1.2-2'}}</div>
          </div>
          <div class="col-12">
            <div class="title-xs">
              <span i18n="@@Tips">Tips</span>:</div>
            <div class="text-xs">&nbsp;${{charge.tips | number : '1.2-2'}}</div>
          </div>
          <div class="col-12">
            <div class="title-xs">
              <span i18n="@@DeliveryDiscount">Discount</span>:</div>
            <div class="text-xs">-${{charge.deliveryDiscount | number : '1.2-2'}}</div>
          </div>
          <div class="col-12" *ngIf="charge.groupDiscount>0">
            <div class="title-xs">
              <span i18n="@@GroupDiscount">GroupDiscount</span>:</div>
            <div class="text-xs">&nbsp;${{charge.groupDiscount | number : '1.2-2'}}</div>
          </div>

          <div class="col-12" *ngIf="charge.overRangeCharge>0">
            <div class="title-xs">
              <span i18n="@@OverRangeCharge">Over Range Fee</span>:</div>
            <div class="text-xs">&nbsp;${{charge.overRangeCharge | number : '1.2-2'}}</div>
          </div>

          <div class="col-12 total-row">
            <div class="title-xs">
              <span i18n="@@Total">Total</span>:</div>
            <div class="text-xs">&nbsp;${{ charge.total | number : '1.2-2'}}</div>
          </div>

          <div class="col-12" *ngIf="charge && balance!=0">
            <div class="title-xs">
              <span i18n="@@CurrentBalance">Balance</span>:</div>
            <div class="text-xs"><span *ngIf="balance >= 0">&nbsp;</span><span *ngIf="balance < 0">-</span>${{ getAbs(balance) | number : '1.2-2'}}</div>
          </div>

          <div class="col-12 total-row" *ngIf="charge && balance!=0">
            <div class="title-xs">
              <span i18n="@@TotalPayable">Payable</span>:</div>
            <div class="text-xs">&nbsp;${{ balance >= charge.total ? 0 : charge.total - balance | number : '1.2-2'}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="group-order-block" *ngIf="charge && productTotal < 20">
      <div class="row label-sm">
        <span>拼单优惠（同一配送时段内，同一地址有不同账号下的订单)</span>
      </div>
      <div class="row">拼单每单劲减$2！优惠后只要
        <span class="red-text">${{ afterGroupDiscount | number : '1.2-2'}}</span>
      </div>
    </div> -->
    <div class="payment-method-block">
      <div class="row label-sm">
        <span i18n="@@PaymentMethod">Payment Method</span>:
      </div>
      <div *ngIf="paymentMethod === PaymentMethod.PREPAY" i18n="@@PayByDeposit">Pay by my deposit</div>

      <app-payment-select *ngIf="paymentMethod !== PaymentMethod.PREPAY" [selected]="paymentMethod" (select)="onSelectPaymentMethod($event)"></app-payment-select>

      <div class="cash-note" *ngIf="paymentMethod===PaymentMethod.CASH" i18n="@@PayCashNote">*Pay in cash upon delivery</div>
      <!-- <form id="payment-form" onsubmit="return false;" *ngIf="paymentMethod===PaymentMethod.CREDIT_CARD">
        <div class="form-row" >
          <label for="card-element" class="label-sm" i18n="@@CreditCard">Credit/Debit Card:</label>
          <div id="card-element">
          </div>
          <div id="card-errors" role="alert"></div>
        </div>
      </form> -->

      <app-credit-card-form *ngIf="paymentMethod===PaymentMethod.CREDIT_CARD" (init)="onCreditCardFormInit($event)"></app-credit-card-form>
    </div>

    <div class="row warning-block">
      <div class="label-sm text-warning" i18n="@@DeliverWarning">*If you are in condo or office building, Please pickup at the hall, we will not enter the building. In Downtown, our car will stop at the road side near the building.
      </div>
      <div class="label-sm text-warning" i18n="@@PhoneWarning">**Please turn on your phone to answering status.
      </div>
    </div>

    <div class="notes-block">
      <div class="row label-sm">
        <span i18n="@@Notes">Notes</span>:
      </div>
      <div class="row">
        <textarea name="note" formControlName="note"></textarea>
      </div>
    </div>
  </form>
</div>

<app-footer [type]="'order'" (pay)="onPay()"></app-footer>

</div>