@import '../../../base';

$header-bar-height: 60px;
$bottom-bar-height: 68px;
$toggle-btn-height: 40px;

#order-form{
  padding: 0px 15px;
  margin-top: $header-bar-height;
  margin-bottom: $bottom-bar-height;
}


.restaurant{
  padding: 6px 0px 0px 0px;
  font-size: 16px;
}

.contact-block{
  padding: 10px 0px;
  border-bottom: solid 1px #eee;

  .row{
    margin: 0px;
    padding-bottom: 0px;
  }
  .phone-col{
    padding-left: 15px;
  }

  .title-md {
    padding-top: 0px;
    font-size: 13px;
    line-height: 20px;
    .label{
      width: 84px;
      float: left;
    }
  }

  .address-text{
    font-weight: bold;
  }
}

.total-block {
  padding: 10px 15px;
  .row {
    padding-bottom: 4px;
    .col-9 {
      padding-left: 100px;
    }
  }

  .total-row{
    margin-top: 5px;
    padding-top: 10px;
    border-top: solid 1px #eee;

    .col-9, .col-3{
      font-size: 16px;
    }
  }
}

.payment-method-block, .notes-block{
  padding: 10px 0px;
  margin: 0px;
  .row{
    padding: 0px;
  }
}

.payment-icon{
  float: left;
}

.warning-block{
  .text-warning{
    color: #d41a09 !important;
    padding-bottom: 5px;
  }
}

.product-list{
  padding: 5px 15px;
  .quantity-col {
    padding-left: 0px;
  }
  .product-col {
    padding-left: 0px;
  }
}

.checkout-row{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 0px;
  border-top: solid 1px #eee;
  background-color: white;

  .amount-col{
    height: 60px;
    float: left;
    padding-left:15px;
    padding-top: 15px;
    border-right: solid 1px #ddd;
    width: calc(100% - 175px);
  }

  .pay-col{
    background:#4285F4;
    color: white;
    width: 175px;
    padding-top: 15px;
    text-align: center;
  }
}

.red-text{
  color: red;
}

.group-order-block{
  padding-top: 12px;
  .row{
    font-size: 12px;
  }
}

mat-button-toggle-group{
  width: 100%;
  // height: $toggle-btn-height;
  mat-button-toggle{
    width: 50%;
    // height: $toggle-btn-height;
  }

  // .mat-button-toggle-focus-overlay{
  //   background-color: $blue;
  // }

  .mat-button-toggle-checked {
    background-color: $blue;// mat-color($accent);
    color: white; // mat-color($accent, default-contrast);

    // .time-row{
    //   color: white;
    // }
  }
}


.order-detail{
  padding-top: 6px;

  .items-col{
    padding-left: 0px;
    padding-right: 10px;
    margin-right: 0px;

    .item-row{
      padding-bottom: 3px;
      padding-right: 4px;
    }

    .product-col, .quantity-col, .price-col {
      padding-left: 0px;
      padding-right: 0px;
      font-size: 13px;
      line-height: 14px;
      padding: 0px;
    }
  }

  .total-col{
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 8px;

    .col-12{
      padding-bottom: 3px;
      padding-right: 0px;
      padding-left: 0px;
    }

    .title-xs{
      width: 73px;
      float: left;
      font-size: 12px;
      font-weight: 500;
    }

    .text-xs{
      float: left;
      font-size: 13px;
      margin-left: 4px;
    }

    .total-row{
      margin-top: 3px;
      padding-top: 5px;
      border-top: solid 1px #eee;
    }
  }
}

.payment-detail{
  margin-top:13px;

  .col-12{
    padding-bottom: 4px;
    padding-left: 0px;
  }

  .title-xs{
    width: 60px;
    float: left;
    font-size: 14px;
    font-weight: 500;
  }

  .text-xs{
    float: left;
    font-size: 14px;
    margin-left: 8px;
  }
}

.cash-note{
  margin-top: 8px;
  font-size: 13px;
}


@media #{$tablet}{
  $bottom-bar-h: 60px;
  $padding-w: 100px;

  .page{
    padding: 0px $padding-w;
  }
}

@media #{$mobile}{
  #order-form{
    padding: 0px 12px;
  }

  .order-detail{
    .total-col{
      font-size: 12px;

      .text-xs{
        font-size: 12px;
        margin-left: 2px;
      }
    }
  }
}