<div class="loading-spinner" *ngIf="loading">
  <app-progress-spinner></app-progress-spinner>
</div>

<div class="page" *ngIf="!loading">
  <div class="title-row">
    <span class="title-bg" i18n="@@ConfirmOrder">Confirm Order</span>
  </div>

  <form [formGroup]="form" id="contact-form">
    <div class="contact-block" *ngIf="contact" (click)="changeContact()">
      <div class="title-md">
        <div class="label">
          <span i18n="@@DeliveryTime">Delivery Time</span>:
        </div>
        <span class="date">{{delivery.date.toDate() | date: 'MMMd E' }} </span>
        <span class="time">11:45~13:00</span>
        <!-- <span class="time">{{delivery.date.toDate() | date: 'HH:mm'}}~{{delivery.toTime | date: 'HH:mm'}} </span> -->
      </div>
      <div class="title-md">
        <div class="label">
          <span i18n="@@DeliverTo">Deliver to</span>:
        </div>
        <span class="user-col">{{contact.username}}</span>
        <span class="phone-col" *ngIf="contact && contact.phone">{{contact.phone}}</span>
      </div>
      <div class="title-md">
        <div class="label">
          <span i18n="@@DeliveryAddress">Delivery Address</span>:
        </div>
        <span class="address-text">{{address}}</span>
      </div>
      <!-- <div>Estimate: 11:45~1:45</div> -->
    </div>

    <div class="title-md restaurant" *ngIf="cart.merchantName">{{cart.merchantName}}</div>

    <div class="row order-detail" *ngIf="cart">
      <div class="col-7 items-col">
        <div *ngFor="let item of cart.items" class="text-sm row item-row">
          <div class="col-8 product-col">{{item.productName}}</div>
          <div class="col-2 quantity-col">x{{item.quantity}}</div>
          <div class="col-2 price-col">${{item.price | number : '1.2-2'}}</div>
        </div>
      </div>
      <div class="col-5 text-sm total-col" *ngIf="charge">
        <div class="row">
          <div class="col-12">
            <div class="title-xs">
              <span i18n="@@ProductTotal">ProductTotal</span>:</div>
            <div class="text-xs">&nbsp;${{charge.productTotal | number : '1.2-2'}}</div>
          </div>
          <div class="col-12">
            <div class="title-xs">
              <span i18n="@@DeliveryFee">Delivery Fee</span>:</div>
            <div class="text-xs">&nbsp;${{charge.deliveryCost | number : '1.2-2'}}</div>
          </div>
          <div class="col-12">
            <div class="title-xs">
              <span i18n="@@Subtotal">Subtotal</span>:</div>
            <div class="text-xs">&nbsp;${{charge.productTotal + charge.deliveryCost | number : '1.2-2'}}</div>
          </div>
          <div class="col-12">
            <div class="title-xs">
              <span i18n="@@Tax">Tax</span>:</div>
            <div class="text-xs">&nbsp;${{charge.tax | number : '1.2-2'}}</div>
          </div>
          <div class="col-12">
            <div class="title-xs">
              <span i18n="@@Tips">Tips</span>:</div>
            <div class="text-xs">&nbsp;${{charge.tips | number : '1.2-2'}}</div>
          </div>
          <div class="col-12">
            <div class="title-xs">
              <span i18n="@@DeliveryDiscount">Delivery Discount</span>:</div>
            <div class="text-xs">&nbsp;${{charge.deliveryDiscount | number : '1.2-2'}}</div>
          </div>
          <div class="col-12" *ngIf="charge.groupDiscount>0">
            <div class="title-xs">
              <span i18n="@@GroupDiscount">GroupDiscount</span>:</div>
            <div class="text-xs">&nbsp;${{charge.groupDiscount | number : '1.2-2'}}</div>
          </div>

          <div class="col-12" *ngIf="charge.overRangeCharge>0">
            <div class="title-xs">
              <span i18n="@@OverRangeCharge">Over Range Charge</span>:</div>
            <div class="text-xs">&nbsp;${{charge.overRangeCharge | number : '1.2-2'}}</div>
          </div>

          <div class="col-12 total-row">
            <div class="title-xs">
              <span i18n="@@Total">Total</span>:</div>
            <div class="text-xs">&nbsp;${{ charge.total | number : '1.2-2'}}</div>
          </div>

          <div class="col-12" *ngIf="balance && charge && balance.amount!=0">
            <div class="title-xs">
              <span i18n="@@CurrentBalance">Current Balance</span>:</div>
            <div class="text-xs">&nbsp;${{balance.amount | number : '1.2-2'}}</div>
          </div>
          <!-- <div class="col-12" *ngIf="paymentMethod==='card' && balance && charge && balance.amount < charge.total && balance.amount!=0">
            <div class="title-xs"><span i18n="@@CurrentConsumed">Current Consumed</span>:</div>
            <div class="text-xs">&nbsp;${{ charge.total | number : '1.2-2'}}</div>
          </div> -->
          <div class="col-12 total-row" *ngIf="balance && charge && balance.amount!=0">
            <div class="title-xs">
              <span i18n="@@TotalPayable">Payable</span>:</div>
            <div class="text-xs">&nbsp;${{ balance.amount >= charge.total ? 0 : charge.total - balance.amount | number : '1.2-2'}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="group-order-block" *ngIf="charge && productTotal < 20">
      <div class="row label-sm">
        <span>拼单优惠（同一配送时段内，同一地址有不同账号下的订单)</span>
      </div>
      <div class="row">拼单每单劲减$2！优惠后只要
        <span class="red-text">${{ afterGroupDiscount | number : '1.2-2'}}</span>
      </div>
    </div>
    <div class="payment-method-block">
      <div class="row label-sm">
        <span i18n="@@PaymentMethod">Payment Method</span>:
      </div>
      <!-- <input name="paymentMethod" readonly /> -->
      <div *ngIf="balance && charge && balance.amount >= charge.total">用余额付款</div>
      <!-- <div class="title" i18n="@@CashWhenDelivered" *ngIf="balance && charge && balance.amount < charge.total">Cash when Delivered</div> -->

      <mat-button-toggle-group #group="matButtonToggleGroup" [value]="paymentMethod" (change)="onSelectPaymentMethod($event)" *ngIf="charge && balance.amount < charge.total">
        <mat-button-toggle value="cash" aria-label="Cash">
          <div class="title">现金支付</div>
        </mat-button-toggle>
        <mat-button-toggle value="WECHATPAY" aria-label="Wechat">
          <div class="title">微信支付</div>
        </mat-button-toggle>
        <!-- <mat-button-toggle value="ALIPAY" aria-label="Ali" *ngIf="account.username==='li'">
          <div class="title">阿里支付</div>
        </mat-button-toggle> -->
        <mat-button-toggle value="card" aria-label="Card">
          <div class="title">银行卡</div>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <form id="payment-form" onsubmit="return false;" *ngIf="paymentMethod==='card' && balance.amount < charge.total">
        <div class="form-row">
          <label for="card-element" class="label-sm">信用卡或银行卡:</label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. action="/charge" method="post" -->
          </div>

          <!-- Used to display Element errors. -->
          <div id="card-errors" role="alert"></div>
        </div>

        <!-- <button (click)="onSubmit()">Submit Payment</button> -->
      </form>
    </div>

    <div class="notes-block">
      <div class="row label-sm">
        <span i18n="@@Notes">Notes</span>:
      </div>
      <div class="row">
        <textarea name="note" formControlName="note"></textarea>
      </div>
    </div>
  </form>


</div>