<div class="row image-uploader" *ngIf="pictures">
        <div *ngFor="let pic of pictures; let i=index"><!-- 
            <div class="label-sm">Picture Name</div>
            <input name="title{{i}}" [value]="pic.title" />
            <div class="label-sm">Picture</div> -->
            <div class="upload-cell">
                <input class="upload-input" name="image{{i}}" type="file" (change)="onImageChange($event, i)" />
                <div class="row img-frame">
                    <img [src]="getImageSrc(pic.image)" />
                </div>
                <div class="row">
                    <div class="btn" (click)="onLoadImage(i)">Change</div>
                    <div class="btn" (click)="onDeleteImage(i)">Delete</div>
                </div>
            </div>
        </div>

<!--         <div class="upload-cell">
            <input class="upload-input" name="image{{currPic.index}}" type="file" (change)="onImageChange($event, currPic.index)" />
            <div class="row img-frame" >
                <img [src]="currPic.data" (click)="onLoadImage(currPic.index)"/>
            </div>
        </div> -->

        <div class="label-sm">*Need to click the Save button to save the result</div>
</div>
