.category-list{
    padding:0px 8px;
    
    .category{
        margin-right:5px;
        margin-bottom:5px;
        max-width:120px;
        float:left;

        .btn{
            min-width:60px;    
        }
    }

}

@media (max-width: 767px){
    .category-list{
        padding:0px 8px;
    }
}