$toggle-btn-height: 40px;
$blue: #4285F3;
$cellphone: "(max-width:480px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";


.form-block, .payment-method-block{
  margin: 0px;
  padding: 15px;

  .row{
    margin: -1px;
  }

  .user-row, .balance-row{
    padding-top: 10px;
  }

  .received-row, .note-row, .card-row{
    padding-top: 12px;
    padding-bottom: 10px;
  }

  .card-wrapper{
    margin: 5px;
  }
}

.form-block{
  padding-bottom: 0px;
  margin-top: 50px;
}

.add-credit-form{
  max-width: none;
  width: 100%;
}

.actions-row{
  margin-top: 25px;

  .btn-cancel, .btn-pay{
    width: 45%;
    height: 52px;
    text-align: center;
    padding-top: 15px;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
  }
  .btn-pay{
    float: right;
  }
}

mat-button-toggle-group{
  width: 100%;
  mat-button-toggle{
    width: 50%;
  }

  .mat-button-toggle-checked {
    background-color: $blue;// mat-color($accent);
    color: white; // mat-color($accent, default-contrast);
  }
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-element1{
  width: 100%;
  border: 1px solid #ddd;
}


@media #{$tablet}{
  $bottom-bar-h: 60px;
  $padding-w: 100px;
  .page{
    padding: 0px $padding-w;
  }

  .title-block{
    width: calc(100% - #{$padding-w} - #{$padding-w});
  }
}