<div class="container">
    <form class="comment-form">
        <div class="row">
            <div class="label-sm">body</div>
            <input name="body" [(ngModel)]="comment.body"/>
        </div>
        <div class="row">
            <div class="label-sm">author</div>
            <input name="author" [(ngModel)]="comment.author"/>
        </div>
        <div class="row">
            <div class="label-sm">post</div>
            <input name="post" [(ngModel)]="comment.post"/>
        </div>
        <div class="row">
            <div class="label-sm">created</div>
            <input name="created" [(ngModel)]="comment.created"/>
        </div>
        <div class="row">
            <div class="label-sm">updated</div>
            <input name="updated" [(ngModel)]="comment.updated"/>
        </div>
        <button (click)="save()">Save</button>
    </form>
</div>