
<div class="product-filter">
	<div id="filter-content">
		<form [formGroup]="form">
<!-- 		<div class="price-range">
		    <div class="label-sm">Price:</div>
		    <input placeholder="From" [(ngModel)]="priceRange.lower" (input)="changeInputPrice($event)">
		    <div class="separator">&nbsp;-&nbsp;</div>
		    <input placeholder="To" [(ngModel)]="priceRange.upper" (input)="changeInputPrice($event)">
		</div> -->

        <div class="category-filter">
            <div class="label-sm">Category</div>
            <div formArrayName="categories">
                <div *ngFor="let cat of categoryList; let i=index">
                    <input type="checkbox" formControlName="{{i}}" (change)="onToggleItem(i, categories)">
                    {{cat.name}}<br>
                </div>
            </div>
        </div>

        <div class="restaurant-filter">
            <div class="label-sm">Manufactoy</div>
            <div formArrayName="restaurants">
                <div *ngFor="let m of restaurantList; let i=index">
                    <input type="checkbox" formControlName="{{i}}" (change)="onToggleItem(i, restaurants)">
                    {{m.name}}<br>
                </div>
            </div>
        </div>

        <div class="color-filter">
            <div class="label-sm">Color</div>
            <div formArrayName="colors">
                <div *ngFor="let color of colorList; let i=index">
                    <input type="checkbox" formControlName="{{i}}" (change)="onToggleItem(i, colors)">
                    {{color.name}}<br>
                </div>
            </div>
        </div>

<!-- 
		<div class="category-filter">
	        <div class="label-sm">Category:</div>
	        <div class="item-list">
			    <div class="row" *ngFor="let cat of categories; let i=index">
			        <div *ngIf="i<8">
			        	<div class="row checkbox-group">
					        <input type="checkbox" checked="cat.checked" [(ngModel)]="cat.checked" (click)="checkCategory(cat.data.name)">
					        <label [ngClass]="{active: selected === cat}" (click)="searchByCategory(cat)">{{cat.data.name}}</label>
					        <span class="badge badge-secondary">{{cat.data.n_products}}</span>     
					    </div>
					</div>
		        </div>
	    	</div>
	    </div>
		<div class="restaurant-filter">
	        <div class="label-sm">Brand:</div>
			<div class="input-group search-box">
			  <input type="text" class="form-control" [(ngModel)]="restaurant" placeholder="{{'SEARCH_BY_ARTIST'|translate}}" aria-describedby="basic-addon2">
			  <span class="input-group-addon" (click)="searchByRestaurant(restaurant)"><i class="fa fa-search"></i></span>
			</div>

	        <div class="item-list">
			    <div class="row" *ngFor="let au of restaurants; let i=index">
			        <div *ngIf="i<8">
			        	<div class="row checkbox-group">
					        <input type="checkbox" checked="au.checked" [(ngModel)]="au.checked" (click)="searchByRestaurant(au.data.name)">
					        <label [ngClass]="{active: selected === au}" (click)="searchByRestaurant(au)">{{au.data.name}}</label>
					        <span class="badge badge-secondary">{{au.data.n_products}}</span>     
					    </div>
					</div>
		        </div>
	    	</div>
	    </div> -->
	</form>
	</div>

    <div class="btn-holder">
	    <div class="w-half">
	      <button class="btn btn-primary" (click)="clearFilter()">Clear Filter</button>
	    </div>
	    <div class="w-half">
	      <button class="btn btn-primary" *ngIf="!bFilter" (click)="toggleFilter('block')">Show Filter</button>
	      <button class="btn btn-primary" *ngIf="bFilter" (click)="toggleFilter('none')">Hide Filter</button>
	    </div>
	</div>
</div>


