<div class="page">
  <div *ngIf="account">
    <div class="row head-block">
      <div class="col-8 name-block title-bg">{{account.username}}</div>
      <div class="col-4 portrait-block">
        <div class="portrait-frame">
          <img class="portrait" [src]="account.imageurl"/>
        </div>
      </div>
    </div>
  
    <div class="row form-group">
      <div class="row label-sm">
        <span i18n="@@PhoneNumber">Phone Number</span><span>*</span>
      </div>
      <div class="phone-input" (click)="changePhoneNumber()">
        {{phone}}
      </div>
    </div>

    <div class="row form-group">
      <div class="row label-sm">
        <span i18n="@@DefaultAddress">Default Address</span><span>*</span>
      </div>
      <div class="phone-input" (click)="changeAddress()">
        {{address}}
      </div>
    </div>

    <div class="row form-group logout-block">
      <div class="btn btn-primary btn-logout" i18n="@@LogoutDuocun" (click)="logout()">Logout</div>
    </div>
  </div>
</div>