// $mobile: "(max-width: 767px)";
// $tablet: "(min-width: 768px) and (max-width: 1199px)";
// $desktop: "(min-width: 1200px)";
//
// .restaurant-detail-page{
// 	@media #{$mobile}{
// 		.cart-widget{
// 	        position: fixed;
// 	        bottom: 5%;
// 	        right: 0;
// 	        z-index:9999;
//
// 			width:90%;
// 			min-height:110px;
// 		}
//   	}
//
// }
