<div class="page restaurant-detail-page">
	<!-- <img class="img-fluid" src="http://placehold.it/1200x300" alt=""> -->
	<div class="restaurant-info" *ngIf="restaurant">
		<div>{{restaurant.name}}</div>
		<div>Hours: 11:30 - 23:00</div>
		<div>Address: {{restaurant.address.formattedAddress}}</div>
	</div>

	<div class="row mr-0 ml-0">
		<div class="col-sm-12 col-md-3">
			<div class="input-group search-box">
				<!-- 			<input type="text" class="form-control" [(ngModel)]="keyword" placeholder="Search by Keyword" aria-describedby="basic-addon2">
				<span class="input-group-addon" (click)="search(keyword)"><i class="fa fa-search"></i></span> -->
			</div>
			<!-- <app-product-filter></app-product-filter> -->
			<app-cart class="cart-widget"></app-cart>
		</div>
		<div class="col-sm-12 col-md-9">
			<product-grid [products]="productList"></product-grid>
		</div>
	</div>
</div>