$map-height: 220px;
$position-btn-width: 60px;
$bottom-bar-height: 60px;

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

#container{
  height: 100%;
  position: relative;
  display: block;
}

.address-search-row{
  z-index: 1000;
  position: fixed;
  top: 6px;
  left: 0px;
  margin: 0px;
  padding-left:6px;
  padding-right:6px;
  
  .input-group-append{
    width: $position-btn-width;
  }
  
  app-address-input {
    width: calc(100% - #{$position-btn-width});
  }
}



@media (max-width:575px){
  // app-footer{
  // }
}

@media #{$tablet}{

}

/* iphone XR 1792x828px at 326ppi */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) {

    }  

/* iphone XS 2436x1125px at 458ppi */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

    }

/* iPhone XS Max 2688x1242px at 458ppi */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {

    }