   <div class="col-md-12 col-sm-12 col-12 product-grid" *ngIf="groupedProducts">
     <div *ngFor="let cat of categories">
       <div *ngIf="groupedProducts[cat.id]">
        <div class="category-row text-sm">{{cat.name}}</div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 grid-item" *ngFor="let p of groupedProducts[cat.id]; let i = index;">
            <div class="row grid-item-body">
                <div class="col-md-12 col-4 image-body">
                    <img [src]="getProductImage(p)" alt="{{p.name}}">
                </div>
                <div class="col-md-12 col-8 text-body">
                    <div class="title-bg">{{p.name}}</div>
                    <div class="row order-row">
                        <div class="col-5 price-col">${{p.price}}</div>
                        <div class="col-7 button-col">
                            <!-- <i class="fa fa-2x fa-minus-circle text-danger" (click)="removeFromCart(p)"></i> -->
                            <img class="img-shopping-cart" src="assets/outline-remove_circle-24px.svg" alt="remove" height="40px" width="40px" 
                            (click)="removeFromCart(p)" />
                            <div class="quantity" *ngIf="groupedOrders && groupedOrders[cat.id].length>0" >{{groupedOrders[cat.id][i].quantity}}</div>
                            <!-- <div class="quantity" *ngIf="groupedOrders[cat.id].length==0" >0</div> -->
                            <!-- <i class="fa fa-2x fa-plus-circle ml-2 text-primary" (click)="addToCart(p)"></i> -->
                            <img class="img-shopping-cart" src="assets/outline-add_circle-24px.svg" alt="add" height="40px" width="40px" 
                            (click)="addToCart(p)" />
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
