<div class="loading-spinner" *ngIf="loading">
  <app-progress-spinner></app-progress-spinner>
</div>

<div class="page">
  <div class="row title-block">
    <div class="col-12 title-bg" i18n="@@BalanceDetail">BalanceDetail</div>
  </div>

  <div class="page-body">
    <div class="balance-list">
      <div class="row list-head">
        <div class="col-3 title-xs" i18n="@@Date">Date</div>
        <div class="col-3 title-xs" i18n="@@Description">Description</div>
        <div class="col-2 title-xs" i18n="@@PayableIncrease">Payable Increase</div>
        <div class="col-2 title-xs" i18n="@@PayableDecrease">Payable Decrease</div>
        <div class="col-2 title-xs" i18n="@@Payable"> Payable</div>
      </div>

      <!-- [class.highlight]="tr.id === highlightedId" -->
      <div class="list-item" *ngFor="let tr of transactions | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPageNumber, totalItems: nTransactions }"
        (click)="onSelect(tr)">
        <div class="row">
          <div class="col-3">
            <span class="text-xs">{{tr.date | date: 'MMMdE'}}</span>
          </div>
          <div class="col-3">
            <span class="text-xs">{{tr.description.length > 13 ? ((tr.description | slice:0:11) + '..') : tr.description}}</span>
          </div>
          <div class="col-2">
            <span class="text-xs">{{tr.consumed | number : '1.2-2'}}</span>
          </div>
          <div class="col-2">
            <span class="text-xs">{{tr.paid | number : '1.2-2'}}</span>
          </div>
          <div class="col-2">
            <span class="text-xs">{{tr.balance | number : '1.2-2'}}</span>
          </div>
        </div>
      </div>
      <!-- end of list-item -->
      <pagination-controls class="balance-pagination" maxSize="5" (pageChange)="OnPageChange($event)"></pagination-controls>
    </div>
  </div>
  <app-footer [type]="'menu'" [menu]="'account-setting'"></app-footer>
</div>