<div class="page">
  <div class="row title-row">
    <div class="col-12 title-bg" i18n="@@BalanceDetail">BalanceDetail</div>
  </div>
  <div class="detail-list">
    <div *ngFor="let p of payments" class="row">
      <div class="col-4 text-sm date-col">{{p.delivered | date: 'MMMd E' }}</div>

      <div class="col-4 text-sm credit-col" *ngIf="p.type==='credit' && p.amount !==0">
        <span i18n="@@Credit">Credit</span>:&nbsp;
        <span>${{p.amount | number : '1.2-2'}}</span>
      </div>
      <!-- <div class="col-4 text-sm credit-col" *ngIf="p.type==='credit' && p.amount ===0">&nbsp;</div> -->

      <div class="col-4 text-sm debit-col" *ngIf="p.type==='debit' && p.amount !==0">
        <span i18n="@@Debit">Debit</span>:&nbsp;
        <span>${{p.amount | number : '1.2-2'}}</span>
      </div>
      <!-- <div class="col-4 text-sm debit-col" *ngIf="p.type==='debit' && p.amount !==0">&nbsp;</div> -->
    </div>
  </div>
  <div class="balance-block" *ngIf="balance">
    <span i18n="@@CurrentBalance">Current Balance</span>:&nbsp;
    <span>${{balance | number : '1.2-2'}}</span>
  </div>
</div>
