.detail-list{
  margin-top: 60px;
  padding: 10px;

  .credit{
    padding-left: 80px;
  }

  .debit{
    padding-left: 210px;
  }
}

.balance-block{
  border-top: 1px solid #666;
  padding-top: 10px;
  padding-left: 40px;
  margin: 10px;
}