.payment-table-container{
  margin-top: 60px;
  height: 540px;
  overflow: auto;
}

table{
  width: 100%;
}

td.mat-cell{
  padding-left: 4px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 10px;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 0px;
}
// .detail-list{
//   margin-top: 60px;
//   padding: 10px;

//   .row{
//     height: 22px;
//   }

//   .date-col, .credit-col, .debit-col{
//     padding: 0px;
//   }

//   .date-col{
//     font-weight: 600;
//   }
// }

// .balance-block{
//   border-top: 1px solid #666;
//   padding-top: 10px;
//   padding-left: 40px;
//   margin: 10px;
// }