@import '../../../base';

$tab-h: 0px; // 48px;
$secondary-bg:#eee;

$padding-w: 100px;
$cat-w: 120px;

.page{
  height: 100%;
}

.restaurant-name{
  text-align: center;
  padding-bottom: 15px;
}

.row{
  margin-left:0px;
  margin-right:0px;
}

// .mat-tab-body-content{
//   height: calc(100% - 95px - 60px - 48px);
// }

.page-body{
  position: fixed;
  top: $head-h;
  height: calc(100% - #{$head-h} - #{$bottom-bar-h});

  .mat-tab-group{
    height: 100%;
  }

  .cat-list{
    float: left;
    width: $cat-w;
    height: 100%;
    // border-right:1px solid $secondary-bg;
  }

  .list{
    width: calc(100% - #{$cat-w});
    height: 100%;
    overflow: scroll;
  }

  .category-row{
    height: 30px;
    padding: 5px;
    text-align: center;
  }

  .product-block{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media #{$tablet}{
  $bottom-bar-h: 60px;
  $padding-w: 100px;
  $cat-w: 120px;
  .page{
    padding: 0px $padding-w;
  }

  .title-block{
    width: calc(100% - #{$padding-w} - #{$padding-w});
  }

  .content-block{
    left: $padding-w;
    width: calc(100% - #{$padding-w} - #{$padding-w});

    .cat-list{
      width: $cat-w;
    }
  
    .list{
      width: calc(100% - #{$cat-w});
    }
  }
}

@media #{$mobile}{
  $padding-w: 0px;
  $cat-w: 76px;

  .page{
    padding: 0px $padding-w;
  }

  .title-block{
    width: calc(100% - #{$padding-w} - #{$padding-w});
  }

  .content-block{
    left: $padding-w;
    width: calc(100% - #{$padding-w} - #{$padding-w});
  
    .cat-list{
      width: $cat-w;
    }
  
    .list{
      width: calc(100% - #{$cat-w});
    }
  }
}

@media #{$cellphone}{
  $padding-w: 0px;
  $cat-w: 76px;

  .page{
    padding: 0px $padding-w;
  }

  .title-block{
    width: calc(100% - #{$padding-w} - #{$padding-w});
  }

  .content-block{
    left: $padding-w;
    width: calc(100% - #{$padding-w} - #{$padding-w});
  
    .cat-list{
      width: $cat-w;
    }
  
    .list{
      width: calc(100% - #{$cat-w});
    }
  }
}
