$cellphone: "(max-width:480px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

$head-h: 60px;
$bottom-h: 60px;
$tab-h: 0px; // 48px;
$cat-w: 90px;
$secondary-bg:#eee;
.page{
  height: 100%;
  overflow: scroll;
}

.restaurant-name{
  text-align: center;
  padding-bottom: 15px;
}

.row{
  margin-left:0px;
  margin-right:0px;
}

// .mat-tab-body-content{
//   height: calc(100% - 95px - 60px - 48px);
// }

.content-block{
  // margin-top: 60px;
  position: fixed;
  top: 60px;
  left: 0px;
  height: calc(100% - #{$head-h} - #{$bottom-h});

  .mat-tab-group{
    height: 100%;
  }

  .cat-list{
    float: left;
    width: $cat-w;
    height: 100%;
    // border-right:1px solid $secondary-bg;
  }

  .list{
    width: calc(100% - #{$cat-w});
    height: 100%;
    overflow: scroll;
  }

  .category-row{
    height: 30px;
    padding: 5px;
    text-align: center;
  }

  .product-block{
    padding-left: 0px;
    padding-right: 0px;
  }
}
