<div class="page">
  <div class="row title-row" *ngIf="restaurant">
    <div class="col-12 restaurant-name title-bg">{{restaurant.name}}</div>
    <!-- <div class="col-12"><span i18n="@@OpeningHours">Opening Hours</span>: 11:30 - 23:00</div> -->
    <!-- <div class="col-12"><span i18n="@@Address">Address</span>: {{restaurant.address.formattedAddress}}</div> -->
  </div>

  <div class="row content-block">
    <div class="col-xs-12 col-md-8 product-block">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab i18n-label label="Menu" *ngIf="categories && categories.length>0">
          <div *ngFor="let cat of categories">
            <div *ngIf="cat && cat.items && cat.items.length > 0">
              <div class="category-row text-sm">{{cat.categoryName}}</div>
              <app-product-list [restaurant]="restaurant" [items]="cat.items" [hasAddress]="bHasAddress"></app-product-list>
            </div>
          </div>
        </mat-tab>
        <!-- <mat-tab i18n-label label="Reviews">
          <div></div>
        </mat-tab>
        <mat-tab i18n-label label="About">
          <div></div>
        </mat-tab> -->
      </mat-tab-group>
    </div>
  </div>
</div>
  