<div class="page">
  <div class="row title-block" *ngIf="restaurant">
    <div class="col-12 restaurant-name title-bg">{{restaurant.name}}</div>
  </div>

  <div class="row content-block">
    <div class="col-12 product-block">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab i18n-label label="Menu" *ngIf="categories && categories.length>0">
          <div class="cat-list" *ngFor="let cat of categories">
            <div class="cat-list-wrapper" *ngIf="cat && cat.items && cat.items.length > 0">
              <div class="category-row text-sm">{{cat.categoryName}}</div>
              <app-product-list [restaurant]="restaurant" [items]="cat.items" [hasAddress]="bHasAddress"></app-product-list>
            </div>
          </div>
        </mat-tab>
        <!-- <mat-tab i18n-label label="Reviews">
          <div></div>
        </mat-tab>
        <mat-tab i18n-label label="About">
          <div></div>
        </mat-tab> -->
      </mat-tab-group>
    </div>
  </div>
</div>
  