<div class="page">
  <div class="row title-block" *ngIf="restaurant">
    <div class="col-12 restaurant-name title-bg">{{restaurant.name}}</div>
  </div>

  <div class="page-body">
    <div class="cat-list">
      <app-vertical-tab [selected]="category" [items]="categories" (select)="onCategorySelect($event)"></app-vertical-tab>
    </div>
    <div #list class="list">
      <div [attr.id]="'cat'+grp.categoryId" class="row group" *ngFor="let grp of groups">
        <div class="col-12 category-row text-sm">{{grp.categoryName}}</div>
        <div class="col-12 product-block">
          <app-product-list [restaurant]="restaurant" [items]="grp.items" [hasAddress]="bHasAddress" (add)="onAddProduct($event)" (remove)="onRemoveProduct($event)"></app-product-list>
        </div>
      </div>
    </div>
  </div>
  <app-footer [type]="'restaurant'" (next)="onNext($event)"></app-footer>
</div>

<!-- <app-modal id="custom-modal-1">
  <h1>A Custom Modal!</h1>
  <p>Home page text</p>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</app-modal> -->