.btn-leave{
  float: right;
  width: 110px;
  height: 45px;
  text-align: center;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-stay{
  float: right;
  width: 110px;
  height: 45px;
  text-align: center;
  padding-top: 10px;
}

.mat-dialog-actions{
  margin-top: 5px;
  margin-bottom: 0px;
}

