<div class="address-input-container">
  <form [formGroup]="placeForm" class="address-input">
      <input type="text" [formControl]="placeForm.controls.addr" placeholder="{{placeholder}}" 
      (input)="onValueChange($event)"
      (focus)="onFocus($event)" [class.expanded]="!bClearBtn"/>
  </form>
  <button class="clear-btn" (click)="clearAddr()" *ngIf="bClearBtn">
    <!-- <i class="fa fa-2x fa-close"></i> -->
    <img class="clear-icon" src="assets/outline-close-24px.svg" alt="remove" />
  </button>
</div>
