<form [formGroup]="placeForm" class="address-input">
  <div class="back-btn" (click)="back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="#666" d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z" />
      <path fill="none" d="M0 0h24v24H0z" />
    </svg>
  </div>

  <input type="text" #search placeholder="{{placeholder}}" i18n-placeholder [formControl]="placeForm.controls.addr" (input)="onValueChange($event)"
    (focus)="onFocus($event)" />

  <div class="clear-btn" (click)="clearAddr()">
    <svg *ngIf="bClearBtn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="#666" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
      />
      <path d="M0 0h24v24H0z" fill="none" />
    </svg>
  </div>
</form>