<h4 mat-dialog-title class="modal-title" id="modal-basic-title" i18n="@@ModalConfirmTitle">Are you sure?</h4>
<mat-dialog-content class="modal-body" i18n="@@ModalConfirmSpecificationBody">
    Do you want to save selected specification?
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
  <button type="button" class="btn btn-outline-dark mr-2" (click)="save()" i18n="@@ModalConfirmSpecificationOK">Save</button>
  <button type="button" class="btn btn-default" (click)="clear()" i18n="@@ModalConfirmSpecificationClear">Clear</button>
</mat-dialog-actions>
