<div class="page my-address-page">

  <!-- <div class="input-group location-box"> -->
    <!-- <div class="col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3"> -->
      <div class="container">
        <div class="col-12 col-sm-8">
          <div class="input-group search-bar">
            <app-address-input (addrChange)="onAddressChange($event)" 
              placeholder="Input Delivery Address" i18n-placeholder="Input Delivery Address"
              [value]="deliveryAddress"></app-address-input>
            <!-- <input #div type="text" id="userlocationinput" placeholder="Search by Street or Postal Code"/> -->
            <div class="input-group-append">
              <button type="button" name="button" class="btn btn-primary btn-search" (click)="search()" i18n="@@searchRestuarant">Search Restaurant</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 use-current-location">
          <div class="btn btn-secondary" i18n="@@UseCurrentLocation" (click)="useCurrentLocation()">Use Current Location</div>
        </div>
      </div>

    <!-- </div> -->
    <!-- <div>Test:{{coords === null}}, Error:{{geoError.message}}</div> -->
    <!-- <input #div type="text" id="userlocationinput" class="form-control" placeholder="Street or Postal Code" aria-describedby="basic-addon2">
    <span class="input-group-addon" (click)="seach()"><i class="fa fa-search"></i></span> -->
  <!-- </div> -->

</div>

