
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

	.pac-container:after {
	    background-image: none !important;
	    height: 0px;
  }
  
	.row{
		margin-left:0px;
		margin-right:0px;
	}

	.map-area{
	    width: 100%;
	    height: 380px;
	    padding: 0px;
	}

	.search-bar{
		margin-top:180px;

		#userlocationinput{ //input.form-control
		  outline:none;
		  width:calc(100% - 80px);
		  float:left;
		}

	}

  address-input {
		width: 75%;
	}

	@media #{$desktop}{

	}

	@media #{$tablet}{

	}

	@media #{$mobile}{
		.left-side{
			min-height:40px;
		}
		.search-bar{
			width:100%;
			padding: 0px 10px;
			#userlocationinput{
				width:calc(100% - 80px);
			}
		}
	}
