<form [formGroup]="form" class="restaurant-form">
  <div class="row">
    <div class="label-sm" i18n="@@Name">Name:</div>
    <input name="name" formControlName="name" />
    <!--             <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
            <div *ngIf="name.errors.required">Restaurant Name is required</div>
            <div *ngIf="name.errors.minlength">Restaurant Name should be minimum 3 characters.</div>
        </div> -->
  </div>
  <div class="row">
    <div class="label-sm" i18n="@@Description">Description</div>
    <textarea name="description" formControlName="description"></textarea>
    <!-- <div *ngIf="description.touched && description.invalid" class="alert alert-danger">Max Manufacory Description is 500 chars.</div> -->
  </div>

  <!--         <div class="row">
        <div class="label-sm">Category</div>
        <div formArrayName="categories">
            <div *ngFor="let cat of categoryList; let i=index">
                <input type="checkbox" formControlName="{{i}}" (change)="onToggleCategory(cat)">
                {{cat.name}}<br>
            </div>
        </div>
    </div> -->

  <div formGroupName="address">
    <div class="row">
      <div class="label-sm" i18n="@@Street">Street:</div>
      <!-- <input name="street" formControlName="street" /> -->
      <app-address-input (addrChange)="onAddressChange($event)" 
        placeholder="" [value]="address"></app-address-input>
    </div>

    <div class="row">
      <div class="label-sm" i18n="@@Suite">Suite:</div>
      <input name="unit" formControlName="unit" />
    </div>

    <div class="row">
      <div class="label-sm" i18n="@@PostalCode">Postal Code:</div>
      <input name="postalCode" formControlName="postalCode" />
    </div>
  </div>

  <div *ngIf="users?.length" class="row">
    <div class="label-sm" i18n="@@Owner">Owner</div>
    <select name="user" formControlName="ownerId">
      <option *ngFor="let m of users" [value]="m.id">{{m.username}}</option>
    </select>
  </div>

  <!-- <app-image-uploader [picture]="picture" #uploader></app-image-uploader> -->
  <image-upload [url]="uploadUrl" [uploadedFiles]="uploadedPictures" (uploadFinished)="onUploadFinished($event)" (removed)="onRemoved($event)"></image-upload>
  <div class="row btn-holder">
    <button class="btn btn-primary" (click)="save()" i18n="@@Save">Save</button>
    <button class="btn btn-secondary" (click)="cancel()" i18n="@@Cancel">Cancel</button>  
  </div>
</form>
