$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";
$red: rgb(219, 68, 55);
$green: rgb(24, 128, 56);

$head-h: 60px;
$bottom-h: 60px;
$tab-h: 48px;

.list-item{
  padding: 0px 0px 15px 0px;
  float: left;

  .item-body{
    padding: 5px 30px;

    .image-body{
      padding:0px;
      img{
        width:100%;
        border-radius: 10px;
      }    
    }

    .notify-badge{
      position: absolute;
      left:-5px;
      top:5px;
      padding-bottom: 0px;
      text-align: center;
      border-radius: 30px;
      color:white;
      padding:3px 5px 0px 5px;
      font-size: 12px;
    }
  
    .new, .promotion{
      background-color: $red;
      color: white;
      .text-sm{
        color: white;
      }
    }

    .text-body{
      padding:0px 0px 0px 10px;

      .title-bg{
        font-size:18px;
        font-weight:500;
      }

      .order-row{
        padding-top: 6px;
        .price-col{
          padding-left: 0px;
          padding-right: 0px;
          font-size:18px;
          font-weight:400;
          color: $red;
        }

        .button-col{
          padding: 0px 2px;

          .quantity{
            height: 36px;
            width: 32px;
            float: right;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            padding: 0px;
          }
          .add-btn, .remove-btn{
            float: right;
            padding: 0px;
          }
        }
      }
    }
  }
}

.grid-item:hover{
  background-color: #eee;
}


@media #{$tablet}{
  $bottom-bar-h: 60px;
  $padding-w: 100px;
  $cat-w: 120px;
  .list-item{
    padding: 0px 0px 5px 0px;
    .item-body{
      .text-body{
        padding-right: 25px;
        // .order-row{
        //   .button-col{
        //     padding: 0px 10px;
        //   }
        // }
      }
    }
  }
}

@media #{$mobile}{
  $cat-w: 90px;

  .list-item{
    padding: 0px 0px 5px 0px;
    .item-body{
      padding:5px 0px 5px 5px;

      .text-body {
        padding-right: 10px;
      }
    }
  }
}

