$cellphone: "(max-width:480px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

$green: rgb(24, 128, 56);
$yellow: rgb(244, 160, 0);
$red: rgb(219, 68, 55);
$blue: #4285F3;

$map-height: 360px;

.address-input-block{
  position: fixed;
  top: 0px;
  padding: 15px;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.warning{
  font-size: 12px;
  color: #DB4437;
}
.row{
  margin: 0px;
}

app-address-input{
  width: 100%;
  img{
    width: 30px;
    height: 30px;
  }
}

app-location-list{
  position: absolute;
  top: 78px;
  height: calc(100% - 140px);
  overflow: scroll;
  width: 100%;
}



.map-block{
  position: fixed;
  top: 110px;
  left: 0px;
  padding:0px;
  width: 100%;
  height: $map-height;
  app-map{
    width: 100%;
    height: $map-height;
  }
}


.option-item{
  width: 100%;
  height: 85px;
  padding: 5px 0px 10px 0px;
  margin: 0px;
  margin-top: 10px;
  text-align: left;
  background-color:#eee;
  border: none;
  border-radius: 2px;
  
  .not-in-range-item{
    .text-md{
      color: $red;
    }
  }
  
  .notInRange{
    top: 400px;
    width: 100%;
    height: calc(100% - 460px);
  }
}
