<div *ngIf="!orders || orders.length===0">There is no orders right now.</div>
<div class="order-list">
    <div class="list-item" *ngFor="let order of orders;">
      <div class="body" (click)="onSelect(order)">
          <div class="row order-header">
            <div class="col-6 col-sm-2">
              <span class="title-xs" i18n="@@OrderId">Order Id</span>:
              <span class="title-xs">{{order.id}}</span>
            </div>
            <div class="col-6 col-sm-2">
              <span class="title-xs" i18n="@@Status">Status</span>:
              <span class="text-xs">{{order.restaurantStatus}}</span>
            </div>
            <div class="col-6 col-sm-2" *ngIf="order.restaurant">
              <span class="title-xs" i18n="@@Restaurant">Restaurant</span>:
              <span class="text-xs">{{order.restaurant.name}}</span>
            </div>
            <div class="col-6 col-sm-2">
              <span class="title-xs" i18n="@@Customer">Customer</span>:
              <span class="title-xs">{{order.username}}</span>
            </div>
            <div class="col-12 col-sm-4">
              <span class="title-xs" i18n="@@NotesToMerchant">Notes</span>:
              <span class="text-xs">{{(order.notes)}}</span>
            </div>
            <div class="col-12 col-sm-3">
              <span class="title-xs" i18n="@@OrderDate">Order Date</span>:
              <span class="text-xs">{{toDateTimeString(order.created)}}</span>
            </div>
            <div class="col-12 col-sm-3">
              <span class="title-xs" i18n="@@DeliverDate">Deliver Date</span>:
              <span class="text-xs">{{toDateTimeString(order.delivered)}}</span>
            </div>
            <div class="col-12 col-sm-6">
              <span class="title-xs" i18n="@@DeliverAddress">Deliver Address</span>:
              <span class="text-xs">{{(order.address)}}</span>
            </div>
          </div>
          <div *ngFor="let it of order.items">
            <div class="text-xs">{{it.name}} ${{it.price}} x {{it.quantity}}</div>
          </div>
  
          <div class="row">
            <div class="col-6 text-sm total">
              <span i18n="@@Total">Total</span>: ${{getTotal(order)}}
            </div>
            <div class="col-6" *ngIf="order.restaurantStatus === 'new'">
              <div class="btn btn-primary btn-xs pull-right" (click)="takeOrder(order)">Take Order</div>
            </div>
            <div class="col-6" *ngIf="order.restaurantStatus === 'process'">
              <div class="btn btn-primary btn-xs pull-right" (click)="sendForDeliver(order)">Sent for Deliver</div>
            </div>
          </div>
        </div>
    </div>
  </div>
