.order-list{
  padding: 0px 10px 60px 10px;

  .list-item{
    padding: 5px 0px;
    border-bottom: 1px solid #eee;

    .row{
      margin-left: 0px;
      margin-right: 0px;
    }

    .order-header{
        padding: 5px 0px;
    }
    .total{
        padding-top:8px;
    }
  }
}

@media (max-width: 767px){
  .order-list{
    .list-item{
      .col-6, .col-12{
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}