$cellphone: "(max-width:480px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

$current-loc-btn-width: 92px;

.grid{
  padding: 0px;
  margin: 0px;

  .row{
      margin:0px;
  }
  .grid-item{
      padding: 0px;
      float: left;

      .grid-item-body{
          padding:5px 20px;

          .image-body{
              padding:0px;
              padding-top:75%;
              img{
                  width:100%;
                  height:100%;
                  position: absolute;
                  top:0;
                  left:0;
              }    
          }
  
          .text-body{
              padding:0px 10px;
          }

          .title-bg{
              font-size:16px;
              font-weight:400;
              font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
          }

          .text-sm{
              font-size:12px;
              font-weight:400;
              font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
          }
      }
  }

  .grid-item:hover{
      background-color: #eee;
  }
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
}

.row{
  margin-left:0px;
  margin-right:0px;
}

.map-area{
    width: 100%;
    height: 380px;
    padding: 0px;
}

.deliver-address-row{
  margin-top:20px;
}

.search-bar{
  margin-top: 0px;
  #userlocationinput{ //input.form-control
    outline:none;
    width:calc(100% - #{$current-loc-btn-width});
    float:left;
  }
}

.search-bar-wrapper{
  padding-left: 0px;
}

.input-group-append{
  width: $current-loc-btn-width;
}

app-address-input {
  width: calc(100% - #{$current-loc-btn-width} - 14px);
}

.btn-current-location{
  border-radius: 0px;
}

// obsolete start
.btn-home, .btn-work{
  padding-top: 0px;
  .title{
    padding-top: 2px;
    line-height: 20px;
  }
  .sub-title{
    font-size:10px;
  }
}

.btn-home{
  border-right: 1px solid #eee;
}
.btn-work{
  border-left: 1px solid #eee;
}
// obsolete end

@media #{$desktop}{

}

@media #{$tablet}{

}

@media only screen
and (max-width: 767px)
and (orientation: landscape) {

}

@media #{$mobile}{
  .left-side{
    min-height:40px;
  }
  .search-bar{
    width:100%;
    padding: 0px;
  }
  
  .search-bar-wrapper{
    padding-right:0px;
  }

  .map-area{
    height: 220px;
  }

  .default-addr{
    width: 100%;
    margin-top:10px;
    .btn{
      width:50%;
    }
  }
  .use-current-location{
    padding: 0px 0px 15px 0px;
    .btn{
      width:100%;
    }
  }
  
  @media #{$cellphone}{
    .use-current-location{
      padding: 15px 0px;
      .btn{
        width:100%;
      }
    }
  }

}

