<div class="page container">
  <div class="row">
      <div class="col-12 place-option-list" *ngIf="options && options.length>0">
        <div *ngFor="let place of options" class="row option-item" (click)="onSelectPlace(place)">
          <div class="col-10" *ngIf="place">
              <div class="text-md">
                <span style="color:#aaa">{{place.location.street_number}} </span>
                <span style="font-weight: 400">{{place.location.street_name}}</span>
              </div>
              <div class="text-sm">
                <span>{{place.location.sub_locality ? place.location.sub_locality: place.location.city}}, </span>
                <span>{{place.location.province}}</span>
              </div>
          </div>
          <div class="col-2">
            <i class="fa fa-2x fa-external-link"></i>
          </div>
        </div>
      </div>
      <div class="col-12 map-col" *ngIf="!bHideMap && showMap()">
        <div class="map-area" [ngClass]="mapFullScreen ? 'full-screen-map' : ''">
            <app-map [center]="center" [zoom]="14" [places]="places"></app-map>
        </div>
      </div>
      <div class="col-12 deliver-address-row">
        <div class="row">
          <div class="col-12 col-sm-7 search-bar-wrapper">
            <div class="input-group search-bar">
              <app-address-input (addrChange)="onAddressChange($event)" 
                (addrClear)="onAddressClear($event)" (inputFocus)="onAddressInputFocus($event)"
                placeholder="Input Delivery Address" i18n-placeholder="Input Delivery Address" 
                [value]="deliveryAddress"></app-address-input>
              <!-- <input #div type="text" id="userlocationinput" placeholder="Search by Street or Postal Code"/> -->
              <div class="input-group-append">
                <button type="button" class="btn btn-primary btn-current-location" (click)="useCurrentLocation()"
                  i18n="@@CurrentLocation">Current Location</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="col-12 time-option-list" *ngIf="bTimeOptions">
        <div *ngIf="inRange" class="row option-item overdue" (click)="onSelectTime('immediate')">
          <div class="col-12 immediate-deliver">
            <div>
              <span class="text-md" style="font-weight: 400" i18n="@@ImmediateDeliver">Immediate Deliver</span>
              <span class="text-sm date">(&nbsp;{{today}}</span>
              <span class="text-sm time">{{lunchTime.start}} ~ {{lunchTime.end}}</span>
              <span class="text-sm arrive" i18n="@@Arrive">Arrive</span>
              <span class="text-sm">&nbsp;)</span>
            </div>
            <div class="text-sm">
              <span i18n="@@DeliveryFeeMinus">Delivery Fee Minus</span>
              <span>&nbsp;${{deliveryDiscount}}</span>
            </div>
          </div>
        </div>
        <div *ngIf="inRange && !afternoon" class="row option-item" [class.overdue]="overdue" (click)="onSelectTime('lunch today')">
          <div class="col-12">
              <div>
                <span class="text-md" i18n="@@LunchToday">Lunch Today</span>
                <span class="text-sm date">(&nbsp;{{today}}</span>
                <span class="text-sm time">{{lunchTime.start}} ~ {{lunchTime.end}}</span>
                <span class="text-sm arrive" i18n="@@Arrive">Arrive</span>
                <span class="text-sm">&nbsp;)</span>
              </div>
              <div class="text-sm">
                <span *ngIf="!overdue" i18n="FreeDeliveryIfOrderBefore">Free delivery if order before</span>
                <span *ngIf="overdue" i18n="@@DeliveryFeeMinus">Delivery Fee Minus</span>
                <span *ngIf="overdue">&nbsp;${{deliveryDiscount}}</span>
                <span *ngIf="overdue" class="overdue-note">
                  <span i18n="@@Over">Over</span>9:00,&nbsp;
                  <span i18n="@@DeliverNotFreeNotes">deliver is not free, please order in advance next time</span>
                </span>
              </div>
          </div>
        </div>
        <div *ngIf="inRange" class="row option-item free" (click)="onSelectTime('lunch tomorrow')">
          <div class="col-12">
              <div>
                <span class="text-md" i18n="@@LunchTomorrow">Lunch Tomorrow</span>
                <span class="text-sm date">(&nbsp;{{tomorrow}}</span>
                <span class="text-sm time">{{lunchTime.start}} ~ {{lunchTime.end}}</span>
                <span class="text-sm arrive" i18n="@@Arrive">Arrive</span>
                <span class="text-sm">&nbsp;)</span>
              </div>
              <div class="text-sm">
                <span i18n="@@FreeDelivery">Free Delivery</span>
              </div>
          </div>
        </div>
        <div *ngIf="inRange" class="row option-item free" (click)="onSelectTime('lunch after tomorrow')">
          <div class="col-12">
              <div>
                <span class="text-md" i18n="@@LunchTheDayAfterTomorrow">Lunch the Day after Tomorrow</span>
                <span class="text-sm date">(&nbsp;{{dayAfterTomorrow}}</span>
                <span class="text-sm time">{{lunchTime.start}} ~ {{lunchTime.end}}</span>
                <span class="text-sm arrive" i18n="@@Arrive">Arrive</span>
                <span class="text-sm">&nbsp;)</span>
              </div>
              <div class="text-sm">
                <span i18n="@@FreeDelivery">Free delivery</span>
              </div>
          </div>
        </div>
        <div *ngIf="!inRange" class="row option-item no-free">
            <div class="col-12">
                <!-- <div class="text-md">
                  <span style="font-weight: 400" i18n="@@LunchTheDayAfterTomorrow">Lunch the Day after Tomorrow</span>
                </div> -->
                <div class="text-sm">
                  <span i18n="@@NotInFreeDeliveryRange">Your address is not in free delivery range</span>
                </div>
            </div>
          </div>
      </div>

      <div *ngIf="bRestaurant && !mapFullScreen && !bTimeOptions && !(options && options.length>0)"
        class="col-12 restaurant-list">
        <div *ngIf="deliveryTime === 'immediate'" class="text-md overdue time-title" style="font-weight: 400"
          i18n="@@ImmediateDeliver">Immediate Deliver</div>
        <div *ngIf="deliveryTime === 'lunch today'" class="text-md time-title" style="font-weight: 400" [class.overdue]="overdue"
          i18n="@@LunchToday">Lunch Today</div>
        <div *ngIf="deliveryTime === 'lunch tomorrow'" class="text-md free time-title" style="font-weight: 400"
          i18n="@@LunchTomorrow">Lunch Tomorrow</div>
        <div *ngIf="deliveryTime === 'lunch after tomorrow'" class="text-md free time-title" style="font-weight: 400" 
          i18n="@@LunchTheDayAfterTomorrow">Lunch the Day after Tomorrow</div>
        <app-restaurant-grid [restaurantList]="restaurants" [center]="center" *ngIf="restaurants" [distances]="distances">
        </app-restaurant-grid>
      </div>   
  </div>
</div>
