<div class="page container">
  <div class="row">
      <div class="col-12 map-col">
        <div class="map-area" [ngClass]="mapFullScreen ? 'full-screen-map' : ''">
            <app-map [center]="center" [zoom]="14" [places]="places"></app-map>
        </div>
      </div>
      <div class="col-12 deliver-address-row">
        <div class="row">
          <div class="col-12 col-sm-7 search-bar-wrapper">
            <div class="input-group search-bar">
              <app-address-input (addrChange)="onAddressChange($event)" (addrClear)="onAddressClear($event)"
                placeholder="Input Delivery Address" i18n-placeholder="Input Delivery Address" 
                [value]="deliveryAddress"></app-address-input>
              <!-- <input #div type="text" id="userlocationinput" placeholder="Search by Street or Postal Code"/> -->
              <div class="input-group-append">
                <button type="button" class="btn btn-primary btn-current-location" (click)="useCurrentLocation()"
                  i18n="@@CurrentLocation">Current Location</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!mapFullScreen" class="col-12">
        <app-restaurant-grid [restaurantList]="restaurants" [center]="center" *ngIf="restaurants"></app-restaurant-grid>
      </div>   
  </div>
</div>
