<form [formGroup]="form" class="category-form">
  <div class="row">
    <div class="label-sm" i18n="@@Name">Name:</div>
    <input name="name" formControlName="name" />
    <!--             <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
            <div *ngIf="name.errors.required">Restaurant Name is required</div>
            <div *ngIf="name.errors.minlength">Restaurant Name should be minimum 3 characters.</div>
        </div> -->
  </div>
  <div class="row">
    <div class="label-sm" i18n="@@Description">Description</div>
    <textarea name="description" formControlName="description"></textarea>
    <!-- <div *ngIf="description.touched && description.invalid" class="alert alert-danger">Max Manufacory Description is 500 chars.</div> -->
  </div>


  <button (click)="save()" i18n="@@Save">Save</button>

  <button (click)="cancel()" i18n="@@Cancel">Cancel</button>
</form>
