<div class="place-option-list" *ngIf="places && places.length>0">
  <div *ngFor="let place of places" class="row option-item" (click)="onSelectPlace(place)">
    <div class="col-10" *ngIf="place">
        <div class="text-md">
          <span style="color:#aaa">{{place.location.street_number}} </span>
          <span style="font-weight: 400">{{place.location.street_name}}</span>
        </div>
        <div class="text-sm">
          <span>{{place.location.sub_locality ? place.location.sub_locality: place.location.city}}, </span>
          <span>{{place.location.province}}</span>
        </div>
    </div>
    <div class="col-2">
      <!-- <i class="fa fa-2x fa-external-link"></i> -->
      <img class="img-shopping-cart" src="assets/outline-transit_enterexit-24px.svg" alt="enter" height="20px" width="20px" />
    </div>
  </div>
</div>
