.order{
    padding: 5px 0px;
    border-bottom: 1px solid #eee;
    .order-header{
        padding: 5px 0px;
    }
    .total{
        padding-top:8px;
    }
}

@media (max-width: 767px){
  .order{
    .col-6, .col-12{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}