<div class="order-list">
        <div class="order" *ngFor="let order of orders; let i = index;">
            <div class="body" (click)="toDetail(p)">
                <div class="row order-header">
                    <div class="col-4">
                        <span class="title-xs">Id: </span>
                        <span class="title-xs">{{order.id}}</span>
                    </div>
                    <div class="col-8">
                        <span class="title-xs" i18n="@@Restaurant">Restaurant</span>:
                        <span class="title-xs">{{order.restaurant.name}}</span>
                    </div>
                    <div class="col-4">
                        <span class="title-xs" i18n="@@Status">Status</span>:
                        <span class="text-xs">{{order.status}}</span>
                    </div>
                    <div class="col-8">
                        <span class="title-xs" i18n="@@OrderDate">Order Date</span>:
                        <span class="text-xs">{{toDateTimeString(order.created)}}</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-6 text-sm total"><span i18n="@@Total">Total</span>: ${{getTotal(order)}}</div>
                </div>
                
            </div>
        </div>
    </div>
        