<div class="page container">
    <div class="row">
        <div class="col-sm-12 col-12 map-col">
        <div class="map-area">
            <app-map [center]="center" [zoom]="14" [places]="places"></app-map>
        </div>
        </div>
    <!-- <div class="col-sm-12 col-md-3">
			<div class="input-group search-box">
 				<input type="text" class="form-control" [(ngModel)]="keyword" placeholder="Search by Keyword" aria-describedby="basic-addon2">
				<span class="input-group-addon" (click)="searchByKeyword(keyword)"><i class="fa fa-search"></i></span>
 			</div>
			 <app-product-filter></app-product-filter>
		</div> -->
        <!-- <app-restaurant-list [data]="restaurantList"></app-restaurant-list> -->

        <div class="col-md-12 col-sm-12 col-12 mt-2 restaurant-grid" *ngIf="restaurantList && restaurantList.length>0">

            <div class="col-lg-3 col-md-3 col-sm-12 col-12 grid-item" *ngFor="let p of restaurantList; let i = index;" (click)="toDetail(p)">
                <div class="row grid-item-body">
                    <div class="col-md-12 col-sm-3 col-3 image-body">
                        <img [src]="p.pictures[0]?.url || 'http://placehold.it/400x300'" [alt]="p.name">
                    </div>

                    <div class="col-md-12 col-sm-9 col-9 text-body">
                        <div class="title-bg text-left">{{p.name}}</div>
                        <div class="text-sm text-left">Free Deliver when order before 10:00am</div>
                        <div class="text-sm text-left">{{getDistance(center, p.location)}}</div>
                    </div>
                <!-- <div class="card-footer text-muted">{{p.id}}</div> -->
                </div>
            </div>
        </div>

    </div>
</div>
