
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

.search-col{
  margin-top:10px;
}

.restaurant-grid{
    padding: 0px;
    margin: 0px;

    .row{
      margin:0px;
    }

    .grid-item{
        padding: 0px;
        float: left;

        .grid-item-body{
            padding:5px 20px;

            .image-body{
                padding:0px;
                padding-top:75%;
                img{
                    width:100%;
                    height:100%;
                    position: absolute;
                    top:0;
                    left:0;
                }    
            }
    
            .text-body{
                
                padding:0px 10px;
            }

            .title-bg{
                font-size:16px;
                font-weight:400;
                font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
            }

            .text-sm{
                font-size:12px;
                font-weight:400;
                font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
            }
        }
    }

    .grid-item:hover{
        background-color: #eee;
    }
}


	.map-area{
	    width: 100%;
	    height: 380px;
	    padding: 0px;
	}



	.left-side{
		display:inline-block;
		min-height:400px;
		margin-left:0px;
		margin-right:0px;
		padding:10px 15px;

		input.form-control{
		  outline:none;
		}
	}

	.right-side{
		display:inline-block;
		margin-left:0px;
		margin-right:0px;
		padding-left:0px;
		padding-right:0px;
  }
  
  .free{
    background-color: green;
    color: white;
  }
  .overdue{
    background-color: yellow;
  }
  .no-free{
    background-color: red;
    color: white;
  }


  del {
    color: rgba(white, 0.7);
    text-decoration: none;
    position: relative;
    font-size: 20px;
    font-weight: 600;

    &:before {
      content: " ";
      display: block;
      width: 100%;
      border-top: 3px solid rgba(red, 0.9);
      height: 12px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: rotate(-7deg);
    }
  }

  .delivery-fee{
    padding-top:10px;
  }

	@media #{$desktop}{

	}

	@media #{$tablet}{

	 }

	@media #{$mobile}{
    .restaurant-grid{
        .grid-item{
            .grid-item-body{
                .image-body{
                    padding-top:0px;
                }
            }
        }

        .grid-item:first-child{
            border-top: 1px solid #eee;
        }
    }
		// .left-side{
		// 	min-height:40px;
		// }
		.map-col{
			padding:0px;
		}
		.map-area{
		    width: 100%;
		    height: 240px;
		}

	}
