<div class="admin-account-page">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <app-account-list [accounts]="accounts" 
          (select)="onSelect($event)"
          (afterDelete)="onAfterDelete($event)"></app-account-list>
        <div class="btn btn-secondary btn-add" (click)="add()" i18n="@@AddAccount">Add Account</div>
      </div>
      <div class="col-sm-8 col-xs-12">
        <app-account-form [account]="account" (valueSave)="onAfterSave($event)"></app-account-form>
      </div>
    </div>
  </div>

