.admin-account-page{
  padding:0px 6px;
  margin-top: 10px;

  .btn-add{
    margin-top:20px;
  }
}

@media (max-width: 767px){
  .admin-account-page{
    padding-top: 0px;
    margin-top:10px;

    .row{
      margin-left:-1px;
      margin-right:-1px;
    }
  }
}

@media (max-width:480px){
  .admin-account-page{
    padding-top: 0px;
    margin-top:10px;
  }
  .row{
    margin-left:-1px;
    margin-right:-1px;
  }
}