<div class="row cart-row">
  <div class="cart-col" (click)="toCart()">
    <span class="fa-stack fa-2x has-badge" [attr.data-count]="quantity">
      <!-- <i class="fa fa-shopping-cart fa-3x"></i> -->
      <img class="img-shopping-cart" src="assets/outline-shopping_cart-24px.svg" alt="cart" height="40px" width="40px" />
    </span>
  </div>
  <div class="title-md amount-col">
    ${{productTotal | number : '1.2-2'}}
  </div>
  <div *ngIf="quantity > 0" class="title-md checkout-col" (click)="checkout()" i18n="@@Checkout">Check Out</div>
</div>