<div class="page">

    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="addressForm">
          <form [formGroup]="addressForm">
            <ng-template matStepLabel>填地址</ng-template>
            <!-- <mat-form-field>
              <input matInput placeholder="送餐地址" formControlName="address" required (click)="toAddressEdit()">
            </mat-form-field> -->
            <app-address-form></app-address-form>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>填电话</ng-template>
            <!-- <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required (click)="toPhoneEdit()">
            </mat-form-field> -->
            <app-phone-form></app-phone-form>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>下单</ng-template>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>

  <!-- <div class="title-row"><span class="title-bg">新建联系人</span></div>
  <form [formGroup]="form">
    <div class="row form-group">
      <div class="row label-sm">
        <span i18n="@@PhoneNumber">Phone Number</span><span>*</span>
      </div>
      <input name="phone" formControlName="phone" (keyup)="onPhoneChange($event)"/>
    </div>
    
    <div class="row form-group">
      <div class="row label-sm">
        <span i18n="@@Address">Address</span><span>*</span>
      </div>
      <input name="address" formControlName="address" (keyup)="onAddressChange($event)"/>
    </div>
  </form>
  <div class="row save-row">
    <div class="col-6 title-md cancel-col" (click)="cancel()" i18n="@@Cancel">Cancel</div>
    <div class="col-6 title-md save-col" (click)="save()" i18n="@@Save">Save</div>
  </div> -->
</div>