.page{
  height: 500px;
}

form{
  padding: 25px 15px;
  // margin-top: 60px;
  position: fixed;
  top: 60px;
  left: 0px;
  height: 400px;

  .warning{
    font-size: 12px;
    color: #DB4437;
  }
  .row{
    margin: 0px;

    .verification-result{
      width: 30px;
      height: 40px;
      border-top: solid 1px #aaa;
      border-bottom: solid 1px #aaa;
      padding-top: 4px;
    }

    .get-code-btn{
      width: 118px;
    }
  
    input.verification-code{
      width: calc(100% - 148px);
      border-right: none;
    }
  }

  .form-group{
    padding-top: 30px;
  }

  .col-6{
    padding-left: 0px;
    input{
      width: 100%;
    }
  }
  .col-6:last-child{
    padding-right: 0px;
  }
}

.save-row{
  background-color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 0px;
  border-top: solid 1px #eee;
  
  .cancel-col, .save-col {
    padding: 15px 0px;
    text-align: center;
    font-size: 18px;
  }

  .cancel-col{
    border-right: solid 1px #eee;
  }


}