
  <div class="col-12 time-option-list">
      <!-- <div class="row option-item overdue" (click)="onSelectTime('immediate')">
        <div class="col-12 immediate-deliver">
          <div>
            <span class="text-md" style="font-weight: 400" i18n="@@ImmediateDeliver">Immediate Deliver</span>
          </div>
          <div class="text-sm">
            <span i18n="@@DeliveryFeeMinus">Delivery Fee Minus</span>
            <span>&nbsp;${{deliveryDiscount}}</span>
          </div>
        </div>
      </div> !afternoon && -->
    <button mat-raised-button class="row option-item free" *ngIf="!overdue" (click)="onSelectTime(list[0])">
      <div class="row">
        <div class="col-8">
          <div class="first-row">
            <span class="text-md" i18n="@@LunchToday">Lunch Today</span>
            <span class="free-delivery" i18n="@@FreeDelivery">Free delivery</span>
          </div>
          <div class="row second-row">
            <span class="text-sm date">{{list[0].from | date: 'MMMd E' }} </span>
            <span class="text-sm time">{{list[0].from | date: 'HH:mm'}}~{{list[0].to | date: 'HH:mm'}} </span>
            <span class="text-sm arrive" i18n="@@Arrive">Arrive</span>
          </div>
        </div>
        <div class="col-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path opacity=".87" fill="none" d="M24 24H0V0h24v24z"/>
            <path fill="#666" d="M6.49 20.13l1.77 1.77 9.9-9.9-9.9-9.9-1.77 1.77L14.62 12l-8.13 8.13z"/>
          </svg>
          <!-- <div class="btn btn-primary"  i18n="@@NextStep">Next Step</div> -->
        </div>
      </div>
    </button>
    <button mat-raised-button class="row option-item free" (click)="onSelectTime(list[1])">
      <div class="row">
        <div class="col-8">
          <div class="first-row">
            <span class="text-md" i18n="@@LunchTomorrow">Lunch Tomorrow</span>
            <span class="free-delivery" i18n="@@FreeDelivery">Free Delivery</span>
          </div>
          <div class="second-row">
            <span class="text-sm date">{{list[1].from | date: 'MMMd E' }} </span>
            <span class="text-sm time">{{list[1].from | date: 'HH:mm'}}~{{list[1].to | date: 'HH:mm'}} </span>
            <span class="text-sm arrive" i18n="@@Arrive">Arrive</span>
          </div>
        </div>
        <div class="col-4">
          <!-- <div class="btn btn-primary" i18n="@@NextStep">Next Step</div> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path opacity=".87" fill="none" d="M24 24H0V0h24v24z"/>
            <path fill="#666" d="M6.49 20.13l1.77 1.77 9.9-9.9-9.9-9.9-1.77 1.77L14.62 12l-8.13 8.13z"/>
          </svg>
        </div>
      </div>
    </button>
    <button mat-raised-button class="row option-item free" (click)="onSelectTime(list[2])">
      <div class="row">
        <div class="col-8">
          <div class="first-row">
            <span class="text-md" i18n="@@LunchTheDayAfterTomorrow">Lunch the Day after Tomorrow</span>
            <span class="free-delivery" i18n="@@FreeDelivery">Free delivery</span>
          </div>
          <div class="second-row">
            <span class="text-sm date">{{list[2].from | date: 'MMMd E' }} </span>
            <span class="text-sm time">{{list[2].from | date: 'HH:mm'}}~{{list[2].to | date: 'HH:mm'}} </span>
            <span class="text-sm arrive" i18n="@@Arrive">Arrive</span>
          </div>
        </div>
        <div class="col-4">
          <!-- <div class="btn btn-primary" i18n="@@NextStep">Next Step</div> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path opacity=".87" fill="none" d="M24 24H0V0h24v24z"/>
            <path fill="#666" d="M6.49 20.13l1.77 1.77 9.9-9.9-9.9-9.9-1.77 1.77L14.62 12l-8.13 8.13z"/>
          </svg>
        </div>
      </div>
    </button>

</div><!--time-option-list-->
