<div class="admin-order-page">
  <div class="row">
    <div class="col-sm-2 d-none d-sm-block">
      <div class="list-group list-body">
        <div class="row list-group-item" [ngClass]="{'active': selectedRange == 'daily'}" (click)="onFilterOrders('daily')" i18n="@@Today">Today</div>
        <div class="row list-group-item" [ngClass]="{'active': selectedRange == 'weekly'}" (click)="onFilterOrders('weekly')" i18n="@@CurrentWeek">Current Week</div>
        <div class="row list-group-item" [ngClass]="{'active': selectedRange == 'monthly'}" (click)="onFilterOrders('monthly')" i18n="@@CurrentMonth">Current Month</div>
        <div class="row list-group-item" [ngClass]="{'active': selectedRange == 'all'}" (click)="onFilterOrders('all')" i18n="@@All">All</div>
      </div>
    </div>

    <div class="d-block d-sm-none">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" (click)="onFilterOrders('daily')" i18n="@@Today">Today</button>
          <button type="button" class="btn btn-secondary" (click)="onFilterOrders('weekly')" i18n="@@CurrentWeek">Current Week</button>
          <button type="button" class="btn btn-secondary" (click)="onFilterOrders('monthly')" i18n="@@CurrentMonth">Current Month</button>
          <button type="button" class="btn btn-secondary" (click)="onFilterOrders('all')" i18n="@@All">All</button>
      </div>
    </div>

    <div class="col-sm-10 col-xs-12">
      <app-order-list [orders]="orders" [account]="account"
      (select)="onSelect($event)"
      (afterDelete)="onAfterDelete($event)"
      (afterSave)="onAfterSave($event)"
      [restaurant]="restaurant"></app-order-list>
    </div>
  </div>
</div>