<div class="container">
    <form class="category-form">
        <div class="row">
            <div>name</div>
            <input name="name" [(ngModel)]="category.name"/>
        </div>
        <div class="row">
            <div>description</div>
            <input name="description" [(ngModel)]="category.description"/>
        </div>
        <div class="row">
            <div>status</div>
            <input name="status" [(ngModel)]="category.status"/>
        </div>
        
        <button (click)="save()">Save</button>
    </form>
</div>