<div class="page">
  <div class="title-row">
    <span class="title-bg" i18n="@@ShoppingCart">Shopping Cart</span>
  </div>
  <div class="empty-cart" *ngIf="!cart || !cart.items || cart.items.length==0">
      <div class="cart-image">
        <img src="assets/outline-shopping_cart-24px.svg" alt="cart" />
      </div>
      <span i18n="@@CartEmptyMsg">Your Cart is empty</span>
  </div>

  <div class="cart" *ngIf="cart && cart.items && cart.items.length>0">
      <!-- <div class="row title">
        <div class="col-9 title-lg title-left" i18n="@@ShoppingCart">Shopping Cart</div>
        <div class="col-3 title-sm pull-right" i18n="@@ClearCart" (click)="clearCart()">Clear</div>
      </div> -->
      <div class="container item-list">
        <div *ngFor="let item of cart.items">
          <div class="row item-row">
            <div class="col-5 image-col">
              <img [src]="getProductImage(item)">
            </div>
  
            <div class="col-7 text-col">
              <div class="col-12 name-row">
                <div>{{item.productName}}</div>
              </div>
              <div class="col-12 detail-row">
                <div class="row">
                    <div class="col-4 price-col">$ {{item.price}}</div>
                    <div class="col-8 button-col">
                        <!-- <i class="fa fa-2x fa-minus-circle text-danger" (click)="removeFromCart(item)"></i> -->
                        <img src="assets/outline-remove_circle-24px.svg" alt="cart" (click)="removeFromCart(item)" />
                        <div class="quantity">{{item.quantity}}</div>
                        <!-- <i class="fa fa-2x fa-plus-circle ml-2 text-primary" (click)="addToCart(item)"></i> -->
                        <img src="assets/outline-add_circle-24px.svg" alt="cart" (click)="addToCart(item)" />
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--end of item-list-->
    </div>
</div>