<div class="loading-spinner" *ngIf="loading">
  <app-progress-spinner></app-progress-spinner>
</div>

<div class="page">
<div class="header-block" *ngIf="!loading">
  <app-header *ngIf="lang==='en'"></app-header>
  <div [ngClass]="inRange ? 'banner' : 'banner-up' ">
    <div class="left-col">
      <div class="address-search-block">
        <app-address-input placeholder="Enter Delivery Address" 
          (addrChange)="onAddressInputChange($event)"
          (addrClear)="onAddressInputClear($event)"
          (inputFocus)="onAddressInputFocus($event)" 
          (backHistory)="onBack()" 
          [value]="deliveryAddress">
        </app-address-input>
      </div>
      <app-location-list *ngIf="places && places.length > 0" [account]="account" [places]="places" (placeSeleted)="onSelectPlace($event)">
      </app-location-list>

      <div class="ad-block" *ngIf="!(places && places.length > 0)">
        <!-- <img src="assets/images/fengcha.jpeg" /> -->
      </div>

      <app-date-select *ngIf="inRange && !(places && places.length > 0)" [bOrderEnded]="bOrderEnded" [selected]="date.code" (dateChange)="onDateChange($event)"></app-date-select>
    </div>

    <div class="right-col">
      <img src="assets/qrcode.jpg">
      <div class="text-xs">Wechat QR Code for Chinese</div>
    </div>
  </div>
</div>

<div class="merchant-list" *ngIf="!loading && !bPayment && !(places && places.length > 0) && inRange">
  <app-merchant-grid [merchants]="merchants" [origin]="location"></app-merchant-grid>
  <!-- <app-merchant-list *ngIf="!loading && !bPayment && !(places && places.length > 0) && inRange"
    [merchants]="merchants" [origin]="location">
  </app-merchant-list> -->
</div>

<div class="map-block" [class.range]="!inRange" *ngIf="!loading && !(places && places.length > 0) && !inRange">
  <app-map [location]="location" [center]="mapCenter" [zoom]="mapZoom" [places]="places" [ranges]="mapRanges" [areas]="areas"></app-map>
  <div class="map-info-row">
    <div class="map-info-text" i18n="@@MapHint">Sorry, the address is not in our service range.</div>
  </div>
  <button mat-raised-button *ngIf="!inRange" class="row option-item no-free not-in-range-item" (click)="resetAddress()">
    <div class="col-12">
      <div class="text-md">
        <span i18n="@@NotInServiceRangeHint">Your address is not in our service range, please try another</span>
      </div>
    </div>
  </button>
</div>

<app-footer [type]="'menu'" [menu]="'home'"></app-footer>
</div>
