@import '../../../base';

$banner-height: 180px;

$header-height: 0px; // 56px;
$address-search-h: 50px;
$ad-height: 0px; // 120px;
$date-btn-height: 84px; // measure


$position-btn-width: 0px;
$map-info-height: 48px;


$list-height: calc(100% - #{$header-height} - #{$address-search-h} - #{$date-btn-height} - #{$ad-height});
$map-height: calc(100% - #{$header-height} - #{$address-search-h} - #{$ad-height} - #{$map-info-height} - #{$bottom-bar-h});

$spinner-bg: #000;
$spinner-opacity: 0.8;
// app-home
// :host{
//   width: 100%;
//   height: calc(100% - #{$bottom-bar-h});
//   display: block;
// }

.pac-container:after {
    background-image: none !important;
    height: 0px;
}


// global
.loading-spinner{
  // width: 100%;
  // height: 100%;
  // position: absolute;
  // top: 0px;
  // left: 0px;
  // z-index: 9999;

  mat-spinner{
    margin-left: auto;
    margin-right: auto;
  }

  .loading-text{
    width: 90px;
    font-size: 14px;
    padding-top: 25px;
    margin: auto;
  }
}

.map-info-row{
  height: $map-info-height;
  background: $info-bg;
  color: $info-fg;
  text-align: center;
  font-weight: 100;

  .map-info-text{
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}

.map-block{
  position: fixed;
  top: $header-height + $address-search-h;
  left: 0px;
  width: 100%;
  height: $map-height;
  app-map{
    width: 100%;
    height: $map-height;
  }
}

.option-item{
  width: 100%;
  height: 85px;
  padding: 0px;
  margin: 0px;
  text-align: left;
  background-color:#eee;
  border: none;
  border-radius: 2px;
  
  .text-md{
    font-size: 14px;
  }
  
  .notInRange{
    top: 400px;
    width: 100%;
    height: calc(100% - 460px);
  }
}

.header-block{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: white;

  .left-col{
    float: left;
    width: 60%;
  }
  .right-col{
    float: left;
    width: 40%;
    display: block;
    padding-left: 50px;
    img{
      width: 120px;
      height: 120px;
    }
    .text-xs{
      font-size: 9px;
      color: #333;
      padding-top:4px;
    }
  }

  .banner, .banner-up{
    background: #aaa;

    .address-search-block {
      margin: 0px;
      width: 100%;
    }

    .ad-block{
      padding: 8px 14px;
      width: 100%;
      height: $ad-height;
      font-size: 14px;
      img {
        width: 100%;
        height: $ad-height;
      }
    }

    .date-block{
      width: 100%;
      margin: 0px;
      padding: 0px 10px;
    }
  }

  .banner{
    height: $banner-height;
    // height: $address-search-h + $ad-height + $date-btn-height;
  }

  .banner-up{
    height: $banner-height;
    // height: $address-search-h + $ad-height;
  }
}

.merchant-list{
  width: calc(100% - #{$content-padding} - #{$content-padding});
  height: calc(100% - #{$header-height} - #{$banner-height} - #{$bottom-bar-h});
  position: absolute;
  top: $header-height + $banner-height;
}

app-location-list{
  // position: absolute;
  // top: 58px;
  width: 100%;
  height: calc(100% - 58px - 61px);
}


.branding-block{
  padding-top: 180px;
  width: 50%;
  float: left;

  .background-img{
    width: 126px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 126px;
    }
  }
}

.qrcode-block{
  float: left;
  width: 50%;
  padding-top: 170px;

  img {
    width: 200px;
  }
}

.slogan{
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
}

.title-block{
  text-align: left;
  height: 28px;
  line-height: 34px;
  font-weight: 500;
}

.time-row{
  padding-top: 5px;
  line-height: 16px;
  font-size: 14px;
  width: 100%;
  font-size: 12px;
  color: #666;
  padding-bottom: 5px;
  padding-top: 0px;

  .date{
    padding-left: 0px;
  }
  
  .time{
    padding-left: 0px;
    padding-right: 5px;
  }
}

mat-button-toggle-group{
  width: 100%;
  height: $date-btn-height;
  mat-button-toggle{
    width: 50%;
    height: $date-btn-height;
  }

  // .mat-button-toggle-focus-overlay{
  //   background-color: $blue;
  // }

  .mat-button-toggle-checked {
    background-color: $blue;// mat-color($accent);
    color: white; // mat-color($accent, default-contrast);

    .time-row{
      color: white;
    }
  }
}

@media #{$desktop}{

}

@media #{$tablet}{
  $paddingw: 50px;
  .header-block{
    .banner, .banner-up{
      padding: 15px $paddingw;
    }
  }

  .merchant-list {
    padding: 10px 0px;
    width: 100%;
    height: calc(100% - #{$header-height} - #{$banner-height} - #{$bottom-bar-h});
  }
}

@media only screen
and (max-width: 767px)
and (orientation: landscape) {

}

@media #{$mobile}{
  .map-block{
    padding:0px;
  }

  .merchant-list {
    padding: 10px 0px;
    top: $header-height + $address-search-h + $ad-height + $date-btn-height;
    width: 100%;
    height: calc(100% - #{$header-height} - #{$address-search-h} - #{$date-btn-height} - #{$ad-height} - #{$bottom-bar-h});
  }

  .header-block{
    .left-col{
      width: 100%;
      height: 100%;
    }
    .right-col{
      width: 0px;
      display: none;
    }
    .banner, .banner-up{
      background:white;
      padding: 8px;

      .ad-block{
        height: 0px;
        padding: 4px 14px;
      }
    }

    .banner{
      height: $address-search-h + $ad-height + $date-btn-height;
    }
    .banner-up{
      height: $address-search-h + $ad-height;
    }
  }

  .branding-block{
    width: 100%;
    .background-img{
      width: 70px;
      img {
        width: 70px;
      }
    }
  }

  .qrcode-block{
    display: none;
  }

  .pac-container{
    width: 100%;
    height: 700px;
  }

}

#finger-svg {
  margin-left: 25px;
  animation-name: beat;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: 3;
}
@keyframes beat {
  0% { 
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.tip{
  position: absolute;
  top: 40px;
  left: 20px;
}