

<app-merchant-list class="merchant-list" *ngIf="account && !(places && places.length > 0) && inRange" 
  [active]="inRange" [phase]="phase" [address]="address" [bAddressList]="bAddressList">
</app-merchant-list>


<div class="map-block" [class.range]="rangeMap" *ngIf="!(places && places.length > 0) && !inRange">
  <app-map [location]="location" [center]="mapCenter" [zoom]="mapZoom" [places]="places" [ranges]="compareRanges"></app-map>

  <button mat-raised-button *ngIf="!inRange" class="row option-item no-free not-in-range-item" (click)="resetAddress()">
    <div class="col-12">
      <div class="text-md">
        <span>您的地址不在配送范围内，请尝试其它地址</span>
      </div>
    </div>
  </button>
</div>

<div class="header-block">
  <div class="address-search-block">
    <app-address-input placeholder="InputDeliveryAddress" (addrChange)="onAddressInputChange($event)" (addrClear)="onAddressInputClear($event)"
      (inputFocus)="onAddressInputFocus($event)" (backHistory)="onBack()" [value]="deliveryAddress">
    </app-address-input>
  </div>

  <!-- <div class="ad-block" *ngIf="!(places && places.length > 0)">
    <img src="assets/images/fengcha.jpeg" />
  </div> -->

  <div class="date-block" *ngIf="!(places && places.length > 0)">
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedDate" (change)="onSelectDate($event)">
      <mat-button-toggle value="today" aria-label="Today">
        <div class="title-row" i18n="@@LunchToday">Lunch Today</div>
        <div class="time-row">
          <span class="date">{{today.date | date: 'MMMd E' }} </span>
          <span class="time">{{today.startTime}}~{{today.endTime}} </span>
        </div>
      </mat-button-toggle>
      <mat-button-toggle value="tomorrow" aria-label="Tomorrow">
        <div class="title-row" i18n="@@LunchTomorrow">Lunch Tomorrow</div>
        <div class="time-row">
          <span class="date">{{tomorrow.date | date: 'MMMd E' }} </span>
          <span class="time">{{tomorrow.startTime}}~{{tomorrow.endTime}} </span>
        </div>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<app-location-list *ngIf="places && places.length > 0" [account]="account" [places]="places" (placeSeleted)="onSelectPlace($event)">
</app-location-list>