$cellphone: "(max-width:480px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

$green: rgb(24, 128, 56);
$yellow: rgb(244, 160, 0);
$red: rgb(219, 68, 55);


$position-btn-width: 0px;
$map-height: 220px;
$address-search-height: 46px;
$menu-height: 60px;

.pac-container:after {
    background-image: none !important;
    height: 0px;
}

.loading-spinner{
  width: 100%;
  margin-top: 220px;

  mat-spinner{
    margin-left: auto;
    margin-right: auto;
  }
  .loading-text{
    width: 90px;
    font-size: 14px;
    padding-top: 25px;
    margin: auto;
  }
}

.address-search-block {
  position: fixed;
  top: 10px;
  left: 0px;
  margin: 0px;
  width: 100%;
  padding-left:10px;
  padding-right:10px;
}

app-location-list{
  position: absolute;
  top: 58px;
  width: 100%;
  height: calc(100% - 58px - 61px);
}

@media #{$desktop}{

}

@media #{$tablet}{

}

@media only screen
and (max-width: 767px)
and (orientation: landscape) {

}

@media #{$mobile}{
  .branding-block{
    padding-top: 180px;

    .background-img{
      width: 70px;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 70px;
        // height: 100%;
      }
    }
  }

  .slogan{
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
  }

  .pac-container{
    width: 100%;
    height: 700px;
  }

}

#finger-svg {
  margin-left: 25px;
  animation-name: beat;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: 3;
}
@keyframes beat {
  0% { 
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.tip{
  position: absolute;
  top: 40px;
  left: 20px;
}