
$yellow: rgba(244, 160, 0, 0.2);
$blue: rgba(66,133,244, 0.1);

.empty-order{
  text-align: center;
  margin-top: 210px;
  img{
    width: 56px;
    height: 56px;
    filter: invert(71%) sepia(42%) saturate(5386%) hue-rotate(13deg) brightness(112%) contrast(103%);
  }
}

.order-list{
  padding: 0px 10px 60px 10px;
  margin-top: 70px;

  .list-item{
    padding: 20px 15px;
    border-bottom: 1px solid #aaa;

    .title-xs, .text-xs{
      font-size: 13px;
    }

    .mat-expansion-panel-header {
      padding: 0 16px;
      background-color: $yellow;
    }

    .mat-expansion-panel-header-title {
      display: block;
      margin-right: 0px;
      padding-top: 0px;
    }

    .row{
      margin: 0px;
      width: 100%;
    }

    .col-12{
      line-height: 13px;
      padding-top: 4px;
      font-size: 13px;
    }
  
    .text-col {
      padding: 0px;
    }

    .btn-col {
      .btn-change{
        float: left;
        margin-right: 15px;
      }
      .btn-delete{
        float: right;
        margin-right: 0px;
      }
    }


    .total{
        padding-top:8px;
    }

    .order-detail{
      padding-top: 8px;
      .items-col{
        padding-left: 0px;
        padding-right: 8px;
      }

      .product-col, .quantity-col, .price-col {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 13px;
        line-height: 12px;
        padding: 0px;
      }

      .total-col{
        display: flex;
        align-items: flex-end;
        padding-left: 0px;
        padding-right: 0px;

        .title-xs{
          width: 80px;
          float: left;
        }
        .text-xs{
          float: left;
        }
      }
    }
  }

  .highlight{
    background: $blue;
  }
  // .list-item:first-child{
  //   background: $blue;
  //   // margin-left: -10px;
  //   // margin-right: -10px;
  //   // padding-left: 10px;
  //   // padding-right: 10px;
  // }
}

@media (max-width: 767px){
  .order-list{
    .list-item{
      .col-6, .col-12{
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}