<div class="page">
  <div class="row title-block">
    <div class="col-12 title-bg" i18n="@@PhoneNumber">Phone Number</div>
  </div>

  <div class="page-body">
    <div class="row label-sm verify-hint">
      <span i18n="@@VerifyPhoneNumberNote">*In order to contact upon arrive, we may need to call this number.</span>
    </div>

    <form [formGroup]="form">
      <div class="row form-group">
        <div class="row label-sm">
          <span i18n="@@PhoneNumber">Phone Number</span>
          <span>*</span>
        </div>
        <input class="phone" name="phone" type="tel" pattern="[0-9]*" formControlName="phone" (keyup)="onPhoneInput($event)" />
        <div class="btn get-code-btn" (click)="sendVerify()" i18n="@@GetVerificationCode" [ngClass]="bAllowVerify ? 'btn-primary': 'btn-secondary'">Send Code</div>
      </div>

      <div class="row form-group">
        <div class="row label-sm" [class.warning]="!verified">
          <span i18n="@@VerificationCode">Verification Code</span>
          <span>*</span>
        </div>
        <input class="verification-code" type="number" pattern="[\d]*" name="verificationCode" formControlName="verificationCode"
          (keyup)="onVerificationCodeInput($event)" />

        <div class="verification-result">
          <svg *ngIf="verified" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path fill="#0F9D58" d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
          </svg>
        </div>
        <!-- <div class="btn btn-secondary get-code-btn">
        <span>{{counter}}秒</span>
      </div> -->
      </div>
      <div class="row form-group signup-block">
        <!-- <div *ngIf="hasContact()" class="btn btn-primary signup-btn" (click)="login()" i18n="@@Login">Login</div> -->
        <div *ngIf="account && !hasContact()" class="btn btn-primary signup-btn" (click)="signup()" i18n="@@SignupAndContinuePay">Signup and Continue Pay</div>
      </div>
    </form>
  </div>
</div>