<div class="container page login-page">

    <form class="auth-form" [formGroup]="form">
        <div class="row title">
            <span class="title-lg">Login</span>
        </div>

        <div class="row">
            <span class="error-msg">{{errMsg}}</span>
        </div>

        <div class="row">
            <div class="label-sm">Username or Email</div>
            <input formControlName="account" name="account" type="text" required="" />
        </div>

        <div class="row">
            <div class="label-sm">Password</div>
            <input formControlName="password" name="password" type="password" required="" />
        </div>

        <div class="row btn-holder">
            <button class="btn btn-primary" (click)="onLogin()">Login</button>
        </div>

        <div class="row">
            <div class="link-row">
                <div class="link-col link-text" (click)="toPage('institution-signup')">Create a Business</div>
                <div class="link-col">|</div>
                <div class="link-col link-text" (click)="toPage('forget-password')">Forgot Password</div>
            </div>
        </div>
    </form>
    
<!--    <div class="auth-form">
        <div class="row">Or</div>
        <div class="row google-signin">
            <button id="google-signin-btn" class="btn">
                <img class="google-icon" src="/assets/images/google.png"/>
                <span class="btn-text">Sign In with Google</span>
            </button>
        </div>
    </div> -->

</div>
