.btn-cancel{
  width: 50%;
  height: 52px;
  text-align: center;
  /* border-right: solid 1px #eee; */
  /* vertical-align: middle; */
  padding-top: 15px;
  // border-right: solid 1px #eee;
}

.btn-remove{
  width: 50%;
  height: 52px;
  text-align: center;
  /* border-right: solid 1px #eee; */
  /* vertical-align: middle; */
  padding-top: 15px;
  // border-right: solid 1px #eee;
}

.btn-row{
  border-top: solid 1px #eee;
}