<div class="page">
    
    <div class="container">
        <ngb-tabset>
            <ngb-tab title="Orders" *ngIf="orders">
            <ng-template ngbTabContent>
                <app-order-list [orders]="orders"></app-order-list>
                <!-- <multi-user-form [users]="businessUsers"></multi-user-form> -->
            </ng-template>
            </ngb-tab>

            <ngb-tab title="Recent Orders" *ngIf="orders && account && account.type === 'users'">
            <ng-template ngbTabContent>
                <app-order-list [orders]="orders"></app-order-list>
            </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>