<div class="order-list">
    <div class="order" *ngFor="let order of orders; let i = index;">
        <div class="body" (click)="toDetail(p)">
            <div class="row order-header">
                <div class="col-4">
                    <span class="title-xs">Id:</span>
                    <span class="title-xs">{{order.id}}</span>
                </div>
                <div class="col-8">
                    <span class="title-xs">Customer:</span>
                    <span class="title-xs">{{order.account.username}}</span>
                </div>
                <div class="col-4">
                    <span class="title-xs">Status:</span>
                    <span class="text-xs">{{order.status}}</span>
                </div>
                <div class="col-8">
                    <span class="title-xs">Order Date:</span>
                    <span class="text-xs">{{toDateTimeString(order.created)}}</span>
                </div>
            </div>

            <div *ngFor="let it of order.items">
                    <div class="text-xs">{{it.product.name}} ${{it.price}} x {{it.quantity}}</div>
            </div>

            <div class="row">
                <div class="col-6 text-sm total">Total: ${{getTotal(order)}}</div>
                <div class="col-6">
                        <div class="btn btn-secondary btn-xs pull-right" (click)="toDeliver(p)">Deliver</div>
                </div>
            </div>
            
        </div>
    </div>
</div>
    