.order{
    padding: 5px 0px;
    border-bottom: 1px solid #eee;
    .order-header{
        padding: 5px 0px;
    }
    .total{
        padding-top:8px;
    }
    .col-5{
      padding-right:0px;
    }
}