<div class="cart" *ngIf="cart.items.length>0">
  <div class="mb-5 mt-3 ml-2 mr-2">
    <div class="cart-title title-sm pull-left font-weight-bold">Shopping Cart</div>
    <div class="cart-title title-sm pull-right font-weight-bold" (click)="clearCart()">Clear Cart</div>
  </div>

  <div class="container list-group mb-3 mt-3 ml-2 mr-2">
    <div *ngFor="let item of cart.items" class="align-items-start bg-light">
      <div class="row border-bottom ml-2 mr-2">

        <div class="col-4 input-group input-group-sm quantity-input">
          <span class="input-group-prepend">
            <button type="button" (click)="removeFromCart(item)" class="btn btn-light btn-sm rounded-0" data-type="minus"
              data-field="num">-</button>
          </span>
          <input type="text" name="num" class="input form-control text-center" [(ngModel)]="item.quantity" (change)="updateQuantity(item)">
          <span class="input-group-append">
            <button type="button" (click)="addToCart(item)" class="btn btn-light btn-sm rounded-0" data-type="plus"
              data-field="num">+</button>
          </span>
        </div>

        <div class="col-8 text-area">
          <div class="col-12 text-left">{{item.name}}</div>
          <div class="col-12 text-right">{{item.price * item.quantity | currency}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-right ml-2 mr-1 mb-3">
    <div class="col-12">
      <p class="title-sm">{{quantity}} Items, Total: {{total | currency}}</p>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-xs btn-primary pull-right" (click)="checkout()">Check out</button>
    </div>
  </div>
</div>

<ng-template #orderDetailModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Order Detail</h4>
  </div>
  <div class="modal-body">
    <!-- <app-order-detail [orderId]="orderId"></app-order-detail> -->
    <app-order-detail [cart]="cart"></app-order-detail>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-xs btn-secondary pull-left" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="btn btn-xs btn-primary pull-right" (click)="c('Save click');comfirmed()">Comfirm</button>
  </div>
</ng-template>