.cart {
  padding: 0.5rem 0.25rem;
  border-radius: 0.15rem;
  background-color: #ececec;
  // box-shadow: 2px 2px 5px 2px #ccc;
  margin-bottom: 2rem;
  position: sticky;
  top: 80px;
}

.list-group-item {
  padding: 0.25rem;
}

.quantity-input {
  width: auto;
  margin-top: 5px;
  padding:0px 3px;

  .btn {
    height: 30px;
    line-height: 10px;
  }
  input {
    height: 30px;
  }
}

.list-group{
    .text-area{
        padding-right:0px;

        .text-left, .text-right{
            padding-right:3px;
            font-size: 14px;
            line-height: 20px;
        }
    }
}
