.order-form{
  padding-top:15px;
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
}

app-address-autocomplete{
  width:100%;
}

span{
  float: left;
}

fieldset{
  display: inline-block;
}

.date-block{
  padding-left: 0px;
}

textarea{
  height:100px;
}

.product-list{
  padding-top:10px;
  border-bottom: 1px solid #aaa;
  .row{
    padding-top:3px;
    padding-bottom:3px;
    // border-bottom: 1px solid #888;
  }
}

.num-col{
  float:right;
}

.total-block{
  span{
    float:right;
  }
  .row{
    padding-top:3px;
    padding-bottom:3px;
  }
}