<form [formGroup]="form" class="order-form">
  <div class="title-md" *ngIf="restaurant">{{restaurant.name}}</div>
  <div class="bg-light product-list">
    <div *ngFor="let item of items" class="text-sm row">
      <div class="col-6 text-left">{{item.name}}</div>
      <div class="col-2 text-center">{{item.quantity}}</div>
      <div class="col-4 text-right">{{item.price * item.quantity | currency:'CAD' }}</div>
    </div>
  </div>

  <div class="total-block title-sm" *ngIf="items.length>0">
    <div class="row">
      <div class="col-8">
          <span>:</span>
          <span i18n="@@Subtotal">Sub Total</span>
      </div>
      
      <div class="col-4 text-right">{{subTotal | currency:'CAD'}}</div>
    </div>
    <div class="row">
        <div class="col-8">
            <span>:</span>
            <span i18n="@@DeliveryFee">Delivery Fee</span>
        </div>
      <div class="col-4 text-right">{{deliveryFee | currency:'CAD'}}</div>
    </div>
    <div class="row">
      <div class="col-8">
          <span>:</span>
          <span i18n="@@Tax">Tax</span>
      </div>
      <div class="col-4 text-right">{{tax | currency:'CAD'}}</div>
    </div>
    <div class="row">
      <div class="col-8">
          <span>:</span>
          <span i18n="@@Total">Total</span>
      </div>
      <div class="col-4 text-right">{{total | currency:'CAD'}}</div>
    </div>
  </div>

  <div class="row">
    <div class="label-sm">
      <span i18n="@@PaymentMethod">Payment Method</span>:
    </div>
    <div i18n="@@CashWhenDelivered">Cash when Delivered</div>
    <!-- <input name="paymentMethod" readonly /> -->
  </div>

  <div class="row">
    <div class="label-sm">
      <span i18n="@@DeliverAddress">Deliver Address</span>:
    </div>
    <address-input (addrChange)="onAddressChange($event)" [placeholder]="placeholder" [value]="deliveryAddress"></address-input>
  </div>

  <div class="row">
    <div class="col-6 date-block">
      <div class="label-sm">
        <span i18n="@@DeliveryDate">Delivery Date</span>:
      </div>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="date" ngbDatepicker #date="ngbDatepicker" formControlName="date"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="date.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="label-sm">
        <span i18n="@@DeliveryTime">Delivery Time</span>:
      </div>
      <div>
        <ngb-timepicker style="display:inline-block;" name="time" formControlName="time" [spinners]="false"></ngb-timepicker>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="label-sm">
      <span i18n="@@NotesToMerchant">Notes to Merchant</span>:
    </div>
    <textarea name="notes" formControlName="notes"></textarea>
  </div>
  <div class="row btn-holder">
    <button type="button" class="btn btn-xs btn-secondary pull-left" (click)="cancel()" i18n="@@Cancel">Cancel</button>
    <button type="button" class="btn btn-xs btn-primary pull-right" (click)="checkout()" i18n="@@Submit">Submit</button>
  </div>
</form>