<div class="page">
  <div class="title-row title-bg" i18n="@@DeliverAddress">
    Delivery Address
  </div>
  <div class="option-list">
      <div class="option-item" *ngFor="let item of items" (click)="select(item)">
        <div class="text-smn first-col">
          <span class="user-col">{{item.username}}</span>
          <span class="phone-col">{{item.phone}}</span>
        </div>
        <div class="edit-col" (click)="edit(item)">
          <span i18n="@@Edit">Edit</span>
        </div>
        <div class="text-sm second-row">{{item.address}}</div>
        <div class="warning" *ngIf="!item.phone || !item.address" i18n="@@PhoneAddrEmptyMsg">Phone number and address cannot be empty</div>
      </div>
  </div>
</div>
  