.edit-btn{
  float: right;
}

.page{
  .option-list {
    margin-top: 0px;
    .option-item{
      height: 80px;
      border: solid 1px #eee;
      padding: 10px;
      margin-bottom: 5px;
    }
  }
} 
