.edit-btn{
  float: right;
}

.page{
  .option-list {
    margin-top: 60px;
    
    .option-item{
      height: 144px;
      border: solid 1px #eee;
      padding: 10px;
      margin-bottom: 5px;

      .text-col{
        width: 100%;
      }
      
      .edit-col{
        width: 100%;
        padding-top: 20px;
        .btn{
          float: right;
        }
        .btn-edit{
          margin-right: 50px;
        }
      }

      .first-col{
        width: 80%;
        padding-left: 0px;
        float: left;

        .user-col{
          padding-left:0px;
          padding-right:10px;
        }
        .phone-col{
          padding-left: 0px;
        }
      }

      .second-row, .warning, .third-row{
        width: 100%;
        padding-left: 0px;
        padding-top: 8px;
        float: left;
      }

    }
  }
} 
