<div class="page">

  <div class="location-list-block" *ngIf="places && places.length > 0">
    <app-location-list [account]="account" [places]="places"
      (placeSeleted)="onSelectPlace($event)">
    </app-location-list>
  </div>

  <div class="map-block" [class.range]="rangeMap" *ngIf="!(places && places.length > 0)">
    <app-map [location]="location" [center]="mapCenter" [zoom]="mapZoom" [places]="places" [ranges]="compareRanges"></app-map>
  </div>
  
  <div class="input-group address-search-block">
    <app-address-input  placeholder="InputDeliveryAddress"
      (addrChange)="onAddressChange($event)"
      (addrClear)="onAddressClear($event)"
      (inputFocus)="onAddressInputFocus($event)"
      (backHistory)="onBack($event)"
      [value]="deliveryAddress">
    </app-address-input>
  </div>

  <!-- <div class="input-group address-search-block">
    <div class="col-12 text-md">{{deliveryAddress}}</div>
    <div class="col-12 btn-row">
      <div class="btn btn-sm change-addr-btn"(click)="changeAddress()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
          Edit
      </div>
    </div>
  </div>  -->

  <div class="time-options" [class.notInRange]="rangeMap" *ngIf="!(places && places.length > 0)">
    <button mat-raised-button *ngIf="overdue && inRange" class="row option-item no-free lunch-overdue">
      <div class="col-12 text-sm">
          <span class="text-md" i18n="@@LunchToday">Lunch Today</span>
      </div>
      <div class="second-row">
          <span class="overdue-note overdue-note-1st" i18n="@@Over">Over</span>
          <span class="overdue-note">9:30&nbsp;</span>
          <span class="overdue-note" i18n="@@CannotOrderNotes">Can not order, please order in advance next time</span>
      </div>
      <div class="third-row">
        <span class="text-sm date">{{today.date | date: 'MMMd E' }} </span>
        <span class="text-sm time">{{today.startTime}}~{{today.endTime}} </span>
      </div>
    </button>

    <div class="row">
      <app-delivery-date-list *ngIf="inRange"
        [orderDeadline]="orderDeadline"
        [deliveryDiscount]="deliveryDiscount" (afterSelectDate)="onSelectDeliveryTime($event)">
      </app-delivery-date-list>
    </div>

    <button mat-raised-button *ngIf="!inRange" class="row option-item no-free not-in-range-item">
      <div class="col-12">
          <div class="text-md">
            <span i18n="@@NotInFreeDeliveryRange">Your address is not in free delivery range</span>
          </div>
      </div>
    </button>
  </div>
</div>
