
$green: rgb(24, 128, 56);
$yellow: rgb(244, 160, 0);
$red: rgb(219, 68, 55);

$position-btn-width: 60px;
$map-height: 220px;
$address-search-height: 46px;
$menu-height: 60px;

.map-block{
  position: fixed;
  top: 0px;
  left: 0px;
  padding:0px;
  width: 100%;
  height: 220px;
}

.time-options{
  position: absolute;
  top: 220px; // 80px; // 220px;
  width: 100%;
  height: calc(100% - 60px - 220px);
  overflow: scroll;
  padding: 0px 10px;
}

.change-addr-btn {
  border: solid 1px #eee;
  float: right;
  // display: inline-block;
}

.btn-row {
  padding-top: 10px;
}

app-delivery-date-list, .not-in-range-item{
  // position: absolute;
  // top: 220px;
  width: 100%;
}

.option-item{
  width: 100%;
  height: 85px;
  padding: 5px 0px 10px 0px;
  margin-top: 10px;
  text-align: left;
  background-color:#eee;
  border: none;
  border-radius: 2px;
  
  .date{
    padding-left: 15px;
  }
  .time{
    padding-left: 0px;
    padding-right: 5px;
  }
  .overdue-note{
    font-size: 12px;
    color: $red;
  }
  .overdue-note-1st{
    padding-left: 15px;
  }
  .second-row{
    line-height: 12px;
  }
  .third-row{
    padding-top: 5px;
    line-height: 16px;
  }
}

// .no-free{
//   background-color: $red;

//   .text-sm{
//     color: white;
//   }
//   .text-md{
//     font-size: 18px;
//     color: white;
//     font-weight: 400
//   }
// }
.no-free{
  color: $red;
  .text-md{
    color: #666;
    font-size: 18px;
    font-weight: 600
  }
}
.address-search-block{
  position: fixed;
  top: 6px;
  left: 0px;
  margin: 0px;
  padding-left:6px;
  padding-right:6px;
  
  .input-group-append{
    width: $position-btn-width;
  }
  
  app-address-input {
    width: calc(100% - #{$position-btn-width});
  }
}

.location-list-block{
  position: fixed;
  left: 0px;
  top: $address-search-height;
  height: calc(100% - #{$address-search-height} - #{$menu-height});
  width: 100%;
  overflow: scroll;

  app-location-list {
    width: 100%;
  }
}

.not-in-range-item{
  .text-md{
    color: $red;
  }
}
